.navigation {
  text-align: center;
  font-family: 'lato', sans-serif;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5;
  margin: 0 1em;
  color: #84B1ED;
  position: relative;
  width: 7em;
  padding-bottom: 6px;
}

.navigation a.active {
  color: #5895e6;
}

.navigation a.active:after {
  background-color: #5895e6;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  height: 3px;
  background-color: #84B1ED;
  transition: all 200ms ease;
}

.navigation a:hover:after, .navigation a:active:after, .navigation a.active:after {
  width: 100%;
}
