<div class="footer__details-col">
	<div class="footer__business-name">Seven Hills Skydivers of Madison, WI</div>

	<div class="footer__address">
		7530 State Highway 73<br>
		York Center, WI<br>
		(608) 244 - 5252
	</div>
</div>
<div class="footer__quick-links-col">
	<a href="{{rel}}about-us">Why jump with us?</a>
	<a href="{{rel}}tandem">Tandem</a>
	<a href="{{rel}}instructor-assisted-deployment">Solo</a>
	<a href="{{rel}}events">Events</a>
	<a href="{{rel}}become-a-licensed-skydiver">Become a licensed skydiver</a>
	<a href="{{rel}}prices">Pricing</a>
</div>
<div class="footer__cities-col">
	<a href="{{rel}}city/skydiving-appleton-wi">Skydiving Appleton</a>
	<a href="{{rel}}city/skydiving-janesville-wi">Skydiving Janesville</a>
	<a href="{{rel}}city/skydiving-la-crosse-wi">Skydiving La Crosse</a>
	<a href="{{rel}}city/skydiving-milwaukee">Skydiving Milwaukee</a>
	<a href="{{rel}}city/skydiving-wisconsin-dells">Skydiving Wisconsin Dells</a>
</div>