<div class="footer__details-col">
	<div class="footer__business-name">Seven Hills Skydivers of Madison, WI</div>

	<div class="footer__address">
		7530 State Highway 73<br>
		York Center, WI<br>
		<a href="tel:6082445252">(608) 244 - 5252</a>
	</div>

	<div class="footer__social">
		<a rel="publisher" target="_blank" href="https://www.facebook.com/Seven.Hills.Skydivers/"><i class="fa fa-facebook-square"></i></a>
		<a rel="publisher" target="_blank" href="https://twitter.com/sevenhills02"><i class="fa fa-twitter-square"></i></a>
	</div>
</div>
<div class="footer__quick-links-col">
	<a href="{{rel}}about-us">Why jump with us?</a>
	<a href="{{rel}}tandem-skydiving-wisconsin">Tandem skydiving</a>
	<a href="{{rel}}solo-skydiving-wisconsin">Solo skydiving</a>
	<a href="{{rel}}events">Upcoming Events</a>
	<a href="{{rel}}learn-to-skydive">Learn to skydive</a>
	<a href="{{rel}}prices">Pricing</a>
</div>
<div class="footer__cities-col">
	<a href="{{rel}}city/skydiving-janesville-wi">Skydiving Janesville</a>
	<a href="{{rel}}city/skydiving-la-crosse-wi">Skydiving La Crosse</a>
	<a href="{{rel}}city/skydiving-appleton-wi">Skydiving Appleton</a>
	<a href="{{rel}}city/skydiving-milwaukee">Skydiving Milwaukee</a>
	<a href="{{rel}}city/skydiving-wisconsin-dells">Skydiving Wisconsin Dells</a>
</div>
<div class="footer__back-to-top-col" onclick="document.documentElement.scrollTop = 0">
	<div><i class="fa fa-angle-up"></i><br>Back to top</div>
</div>