<div class="footer__details-col">
	<div class="footer__business-name">Seven Hills Skydivers of Madison, WI</div>

	<div class="footer__address">
		7530 WI-73<br>
		Marshall, WI 53559<br>
		<a href="tel:6082445252">(608) 244 - 5252</a>
	</div>

	<div class="footer__social">
		<a rel="publisher" target="_blank" href="https://www.facebook.com/Seven.Hills.Skydivers/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"/></svg></a>
		<a rel="publisher" target="_blank" href="https://twitter.com/sevenhills02"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg></a>
	</div>
</div>
<div class="footer__quick-links-col">
	<a href="{{rel}}about-us">Why jump with us?</a>
	<a href="{{rel}}tandem-skydiving-wisconsin">Tandem skydiving</a>
	<a href="{{rel}}solo-skydiving-wisconsin">Solo skydiving</a>
	<a href="{{rel}}events">Upcoming Events</a>
	<a href="{{rel}}learn-to-skydive">Learn to skydive</a>
	<a href="{{rel}}prices">Pricing</a>
</div>
<div class="footer__cities-col">
	<a href="{{rel}}city/skydiving-janesville-wi">Skydiving Janesville</a>
	<a href="{{rel}}city/skydiving-la-crosse-wi">Skydiving La Crosse</a>
	<a href="{{rel}}city/skydiving-appleton-wi">Skydiving Appleton</a>
	<a href="{{rel}}city/skydiving-milwaukee">Skydiving Milwaukee</a>
	<a href="{{rel}}city/skydiving-wisconsin-dells">Skydiving Wisconsin Dells</a>
</div>
<div class="footer__back-to-top-col" onclick="document.documentElement.scrollTop = 0">
	<div><i class="fa fa-angle-up"></i><br>Back to top</div>
</div>
