<ul id="bar">
  <li class="menu menu-hover">
    <a href="#">About us <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul class="submenu">
      <li><a class="{{#if nav.location}}active{{/if}}" href="{{rel}}location">Location &amp; Directions</a></li>
      <li><a class="{{#if nav.aboutUs}}active{{/if}}" href="{{rel}}about-us">Why jump with us?</a></li>
      <li><a class="{{#if nav.contact}}active{{/if}}" href="{{rel}}contact">Contact us</a></li>
      <li><a class="{{#if nav.whoWeAre}}active{{/if}}" href="{{rel}}who-we-are">Who we are</a></li>
      <li><a class="{{#if nav.events}}active{{/if}}" href="{{rel}}events">Upcoming events</a></li>
      <li><a class="{{#if nav.photosAndVideos}}active{{/if}}" href="{{rel}}photos-and-videos">Photos &amp; Videos</a></li>
      <!-- <li><a class="{{#if nav.prices}}active{{/if}}" href="{{rel}}our-history">Our history</a></li> -->
      <li><a class="{{#if nav.ourFacilities}}active{{/if}}" href="{{rel}}our-facilities">Facilities</a></li>
    </ul>
  </li>
  <li class="menu menu-hover">
    <a href="#">First Jump <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
    <ul class="submenu">
      <li><a class="{{#if nav.tandem}}active{{/if}}" href="{{rel}}tandem">Tandem skydive</a></li>
      <li><a class="{{#if nav.instructorAssistedDeployment}}active{{/if}}" href="{{rel}}instructor-assisted-deployment">Solo skydive <span class="bar__on-sale">On Sale</span></a></li>
    </ul>
  </li>
  <li class="menu menu-hover">
    <a href="#">Learn <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
    <ul class="submenu">
      <li><a class="{{#if nav.becomeALicensedSkydiver}}active{{/if}}" href="{{rel}}become-a-licensed-skydiver">Become a licensed skydiver</a></li>
      <li><a class="{{#if nav.studentResources}}active{{/if}}" href="{{rel}}student-resources">Resources for students</a></li>
      <li><a class="{{#if nav.soloRates}}active{{/if}}" href="{{rel}}solo-rates">Rates</a></li>
      <li><a class="{{#if nav.frequentlyAskedQuestions}}active{{/if}}" href="{{rel}}frequently-asked-questions">FAQs</a></li>
      <li><a class="{{#if nav.skydivingHistory}}active{{/if}}" href="{{rel}}skydiving-history">Skydiving history</a></li>
      <li><a class="{{#if nav.skydivingTerms}}active{{/if}}" href="{{rel}}skydiving-terms">Skydiving terms</a></li>
    </ul>
  </li>
  <li class="menu menu-hover"><a class="{{#if nav.experienced}}active{{/if}}" href="{{rel}}experienced">Experienced</a></li>
  <li class="menu menu-hover">
    <a href="#">Pricing <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
    <ul class="submenu">
      <li><a class="{{#if nav.prices}}active{{/if}}" href="{{rel}}prices">Pricing</a></li>
      <li><a class="{{#if nav.specials}}active{{/if}}" href="{{rel}}specials">Current specials</a></li>
      <li><a class="{{#if nav.packages}}active{{/if}}" href="{{rel}}packages">Solo skydive packages</a></li>
    </ul>
  </li>
  <li class="menu menu-hover"><a class="{{#if nav.bookNow}}active{{/if}}" href="{{rel}}book-now">Book Now</a></li>
</ul>

<div class="bar-backdrop"></div>

<script>
$('html').removeClass('no-js');

$('.open-menu').on('click', function (e) {
  $('#bar').toggleClass('bar-active');
});

$('.bar-backdrop').on('click', function (e) {
  $('#bar').removeClass('bar-active');
});

$('.menu-hover > a').on('click', function (e) {
  var el = $(this);

  if ($(window).width() <= 720) {

    // Show submenu
    el.parent().toggleClass('menu-active');
  }

  if (el.attr('href') === '#') {
    e.preventDefault();
  }
  
  // Hide other submenus
  // el.parent().siblings('.menu-hover.menu-active').removeClass('menu-active');
});

console.log('Twenty years from now you will be more disappointed by the things that you didn\'t do than by the ones you did do. Some throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover. - Mark Twain');
</script>
