<!-- <div class="navigation">
  <a href="{{rel}}about-us"
     class="{{#if nav.about}}active{{/if}}">About us</a>
  <a href="{{rel}}instructor-aided-deployment"
     class="{{#if nav.iad}}active{{/if}}">Solo Skydive</a>
  <a href="{{rel}}tandem"
     class="{{#if nav.tandem}}active{{/if}}">Tandem</a>
  <a href="{{rel}}prices"
     class="{{#if nav.prices}}active{{/if}}">Prices</a>
  <a href="{{rel}}contact"
     class="{{#if nav.contact}}active{{/if}}">Contact us</a>
</div> -->

<ul id="bar">
  <li class="menu menu-hover">
    <a href="{{rel}}about-us" class="button">About us</a>
    <ul class="submenu">
      <li><a href="{{rel}}about-us">Why jump with us?</a></li>
      <li><a href="{{rel}}who-we-are">Who we are</a></li>
      <li><a href="{{rel}}events">Upcoming events</a></li>
      <li><a href="{{rel}}photos-and-videos">Photos/Videos</a></li>
      <!-- <li><a href="{{rel}}our-history">Our history</a></li> -->
      <li><a href="{{rel}}contact">Contact us</a></li>
      <li><a href="{{rel}}our-facilities">Facilities</a></li>
      <li><a href="{{rel}}members-area">Members area</a></li>
    </ul>
  </li>
  <li class="menu menu-hover">
    <a href="{{rel}}tandem-vs-solo" class="button">Learn to Skydive</a>
    <ul class="submenu">
      <li><a href="{{rel}}tandem">Tandem Skydive</a></li>
      <li><a href="{{rel}}instructor-aided-deployment">Solo Skydive</a></li>
      <li><a href="{{rel}}become-a-licensed-skydiver">Become a licensed Skydiver</a></li>
      <li><a href="{{rel}}student-resources">Resources for students</a></li>
      <li><a href="{{rel}}frequently-asked-questions">FAQs</a></li>
      <li><a href="{{rel}}skydiving-history">Skydiving History</a></li>
    </ul>
  </li>
  <li class="menu menu-hover">
    <a href="{{rel}}prices" class="button">Pricing</a>
    <ul class="submenu">
      <li><a href="{{rel}}prices">Pricing</a></li>
      <li><a href="{{rel}}specials">Current Specials</a></li>
      <li><a href="{{rel}}packages">Skydiving Packages</a></li>
    </ul>
  </li>
  <li class="menu menu-hover"><a href="{{rel}}book-now" class="button">Book Now</a></li>
  <li class="menu menu-hover"><a href="{{rel}}experienced" class="button">Experienced</a></li>
  <li class="menu menu-hover"><a href="https://blog.sevenhillsskydivers.org" class="button">Blog</a></li>
</ul>

<script>
$('html').removeClass('no-js');

$('.menu-click a').on('click', function () {
  
  var el = $(this);
  
  // Show submenu
  el.parent().toggleClass('menu-active');
  
  // Hide other submenus
  el.parent().siblings('.menu-click.menu-active').removeClass('menu-active');
});
</script>