<ul id="bar">
  <li class="menu menu-hover">
    <a href="#">About us <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul class="submenu">
      <li><a{{#if nav.location}} class="active"{{/if}} href="{{rel}}location">Location &amp; Directions</a></li>
      <li><a{{#if nav.aboutUs}} class="active"{{/if}} href="{{rel}}about-us">Why jump with us?</a></li>
      <li><a{{#if nav.contact}} class="active"{{/if}} href="{{rel}}contact">Contact us</a></li>
      <li><a{{#if nav.whoWeAre}} class="active"{{/if}} href="{{rel}}who-we-are">Who we are</a></li>
      <li><a{{#if nav.events}} class="active"{{/if}} href="{{rel}}events">Upcoming events</a></li>
      <li><a{{#if nav.photosAndVideos}} class="active"{{/if}} href="{{rel}}photos-and-videos">Photos &amp; Videos</a></li>
      <!-- <li><a{{#if nav.prices}} class="active"{{/if}} href="{{rel}}our-history">Our history</a></li> -->
      <li><a{{#if nav.ourFacilities}} class="active"{{/if}} href="{{rel}}our-facilities">Facilities</a></li>
    </ul>
  </li>
  <li class="menu menu-hover">
    <a href="#">First Jump <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
    <ul class="submenu">
      <li><a{{#if nav.tandem}} class="active"{{/if}} href="{{rel}}tandem-skydiving-wisconsin">Tandem skydive</a></li>
      <li><a{{#if nav.instructorAssistedDeployment}} class="active"{{/if}} href="{{rel}}solo-skydiving-wisconsin">Solo skydive <span class="bar__on-sale">On Sale</span></a></li>
    </ul>
  </li>
  <li class="menu menu-hover">
    <a href="#">Learn <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
    <ul class="submenu">
      <li><a{{#if nav.becomeALicensedSkydiver}} class="active"{{/if}} href="{{rel}}learn-to-skydive">Learn to skydive</a></li>
      <li><a{{#if nav.studentResources}} class="active"{{/if}} href="{{rel}}student-resources">Resources for students</a></li>
      <li><a{{#if nav.soloRates}} class="active"{{/if}} href="{{rel}}solo-rates">Rates</a></li>
      <li><a{{#if nav.frequentlyAskedQuestions}} class="active"{{/if}} href="{{rel}}frequently-asked-questions">FAQs</a></li>
      <li><a{{#if nav.skydivingHistory}} class="active"{{/if}} href="{{rel}}skydiving-history">Skydiving history</a></li>
      <li><a{{#if nav.skydivingTerms}} class="active"{{/if}} href="{{rel}}skydiving-terms">Skydiving terms</a></li>
    </ul>
  </li>
  <li class="menu menu-hover"><a{{#if nav.experienced}} class="active"{{/if}} href="{{rel}}experienced">Experienced</a></li>
  <li class="menu menu-hover">
    <a href="#">Pricing <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>
    <ul class="submenu">
      <li><a{{#if nav.prices}} class="active"{{/if}} href="{{rel}}prices">Pricing</a></li>
      <li><a{{#if nav.specials}} class="active"{{/if}} href="{{rel}}specials">Current specials</a></li>
      <li><a{{#if nav.packages}} class="active"{{/if}} href="{{rel}}packages">Solo skydive packages</a></li>
    </ul>
  </li>
  <li class="menu menu-hover"><a{{#if nav.bookNow}} class="active"{{/if}} href="{{rel}}book-now">Book Now</a></li>
</ul>

<div class="bar-backdrop"></div>
