@charset "UTF-8";
.accordion > dt > a {
  text-decoration: none;
}

.accordion > dt > a:after {
  content: ' »';
}

.accordion > dt > a:hover {
  text-decoration: underline;
}

.accordion dt,
.accordion dd {
  border: 0;
  margin: 0;
  overflow: auto;
}

.accordion dt {
  margin-top: .25em;
}
