@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  color: #566b78;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3,
strong {
  color: #333;
}

h2,
h3 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 720px) {
  main {
    padding: 0 10px;
  }
}

main table {
  width: 100%;
}

main table td {
  padding: 5px 10px;
}

main table thead tr {
  background: #00d2ff;
  color: white;
  font-weight: 400;
}

main table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}

main {
  display: block;
}

.header-wrapper {
  color: white;
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-wrapper--video {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-wrapper--video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.header-wrapper--video header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__lets-play {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__lets-play div {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.header__lets-play a {
  display: inline-block;
  margin: 0.5em auto 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #00d2ff;
  border-radius: 0.75em;
  border: 0;
  color: white;
  padding: 1.2em 1.8em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 250ms ease;
}

.header__lets-play a:hover {
  text-decoration: none;
  transform: scale(1.1);
  background-color: #00a8cc;
}

.full-width {
  width: 100%;
}

section {
  margin: auto;
  max-width: 34em;
  padding: 0 1em;
}

@media screen and (max-width: 25em) {
  body {
    font-size: 90%;
  }
}

.choose-text {
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 100;
}

.tandem-video {
  width: 100%;
}

.note {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #84B1ED;
}

.accordion > dt > a {
  text-decoration: none;
}

.accordion > dt > a:after {
  content: ' »';
}

.accordion > dt > a:hover {
  text-decoration: underline;
}

.accordion dt,
.accordion dd {
  border: 0;
  margin: 0;
  overflow: auto;
}

.accordion dt {
  margin-top: .25em;
}

.navigation {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 1em;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5;
  margin: 0 1em;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  width: 8em;
  padding-bottom: 6px;
}

.navigation a.active {
  color: white;
}

.navigation a.active:after {
  background-color: white;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 200ms ease;
}

.navigation a:hover:after, .navigation a:active:after, .navigation a.active:after, .navigation a:focus:after {
  width: 100%;
}

.navigation__call {
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  color: #d5473a;
  line-height: 2;
}

@media (max-width: 720px) {
  .navigation__call {
    font-size: 5vw;
  }
}

.title {
  padding: 1em 0;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.title > div {
  flex: 1;
}

.title i {
  font-size: 1.5em;
  padding: 10px 15px;
}

@media (min-width: 721px) {
  .title i {
    display: none;
  }
}

@media (max-width: 720px) {
  .title {
    padding: 1em 10px;
    text-align: left;
  }
}

.title h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  line-height: 1;
  font-size: 3em;
}

@media (max-width: 720px) {
  .title h1 {
    font-size: 6vw;
  }
}

.title h1 a {
  color: white;
  text-decoration: none;
}

.title aside {
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.image-line {
  display: flex;
  margin-bottom: 1em;
}

.image-line img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.image-line > * {
  min-width: 0;
}

.image-line > *:not(:last-child) {
  margin-right: 1em;
}

.people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.people__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.people__item img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  border: 5px solid;
}

.people__item:nth-child(1) {
  color: #093777;
}

.people__item:nth-child(1) img {
  box-shadow: 0 0 30px rgba(9, 55, 119, 0.2);
}

.people__item:nth-child(2) {
  color: #f83abf;
}

.people__item:nth-child(2) img {
  box-shadow: 0 0 30px rgba(248, 58, 191, 0.2);
}

.people__item:nth-child(3) {
  color: #1accef;
}

.people__item:nth-child(3) img {
  box-shadow: 0 0 30px rgba(26, 204, 239, 0.2);
}

.people__item:nth-child(4) {
  color: #470b66;
}

.people__item:nth-child(4) img {
  box-shadow: 0 0 30px rgba(71, 11, 102, 0.2);
}

.people__item:nth-child(5) {
  color: #48fe1b;
}

.people__item:nth-child(5) img {
  box-shadow: 0 0 30px rgba(72, 254, 27, 0.2);
}

.people__item:nth-child(6) {
  color: #3bf623;
}

.people__item:nth-child(6) img {
  box-shadow: 0 0 30px rgba(59, 246, 35, 0.2);
}

.people__item:nth-child(7) {
  color: #3b0fff;
}

.people__item:nth-child(7) img {
  box-shadow: 0 0 30px rgba(59, 15, 255, 0.2);
}

.people__item:nth-child(8) {
  color: #2fc804;
}

.people__item:nth-child(8) img {
  box-shadow: 0 0 30px rgba(47, 200, 4, 0.2);
}

.people__item:nth-child(9) {
  color: #564901;
}

.people__item:nth-child(9) img {
  box-shadow: 0 0 30px rgba(86, 73, 1, 0.2);
}

.people__item:nth-child(10) {
  color: #8b0412;
}

.people__item:nth-child(10) img {
  box-shadow: 0 0 30px rgba(139, 4, 18, 0.2);
}

.people__item:nth-child(11) {
  color: #2cf812;
}

.people__item:nth-child(11) img {
  box-shadow: 0 0 30px rgba(44, 248, 18, 0.2);
}

.people__item:nth-child(12) {
  color: #6d0866;
}

.people__item:nth-child(12) img {
  box-shadow: 0 0 30px rgba(109, 8, 102, 0.2);
}

.people__item:nth-child(13) {
  color: #be02c5;
}

.people__item:nth-child(13) img {
  box-shadow: 0 0 30px rgba(190, 2, 197, 0.2);
}

.people__item:nth-child(14) {
  color: #ca12bd;
}

.people__item:nth-child(14) img {
  box-shadow: 0 0 30px rgba(202, 18, 189, 0.2);
}

.people__item:nth-child(15) {
  color: #0b1389;
}

.people__item:nth-child(15) img {
  box-shadow: 0 0 30px rgba(11, 19, 137, 0.2);
}

.people__item:nth-child(16) {
  color: #5b4901;
}

.people__item:nth-child(16) img {
  box-shadow: 0 0 30px rgba(91, 73, 1, 0.2);
}

.people__item:nth-child(17) {
  color: #ba0d1b;
}

.people__item:nth-child(17) img {
  box-shadow: 0 0 30px rgba(186, 13, 27, 0.2);
}

.people__item:nth-child(18) {
  color: #2c003d;
}

.people__item:nth-child(18) img {
  box-shadow: 0 0 30px rgba(44, 0, 61, 0.2);
}

.people__item:nth-child(19) {
  color: #20fe45;
}

.people__item:nth-child(19) img {
  box-shadow: 0 0 30px rgba(32, 254, 69, 0.2);
}

.people__item:nth-child(20) {
  color: #0a6641;
}

.people__item:nth-child(20) img {
  box-shadow: 0 0 30px rgba(10, 102, 65, 0.2);
}

.people__item:nth-child(21) {
  color: #2402ac;
}

.people__item:nth-child(21) img {
  box-shadow: 0 0 30px rgba(36, 2, 172, 0.2);
}

.people__item:nth-child(22) {
  color: #01a292;
}

.people__item:nth-child(22) img {
  box-shadow: 0 0 30px rgba(1, 162, 146, 0.2);
}

.people__item:nth-child(23) {
  color: #07bba9;
}

.people__item:nth-child(23) img {
  box-shadow: 0 0 30px rgba(7, 187, 169, 0.2);
}

.people__item:nth-child(24) {
  color: #f72b43;
}

.people__item:nth-child(24) img {
  box-shadow: 0 0 30px rgba(247, 43, 67, 0.2);
}

.people__item:nth-child(25) {
  color: #7308ba;
}

.people__item:nth-child(25) img {
  box-shadow: 0 0 30px rgba(115, 8, 186, 0.2);
}

.people__item:nth-child(26) {
  color: #460df2;
}

.people__item:nth-child(26) img {
  box-shadow: 0 0 30px rgba(70, 13, 242, 0.2);
}

.people__item:nth-child(27) {
  color: #278d02;
}

.people__item:nth-child(27) img {
  box-shadow: 0 0 30px rgba(39, 141, 2, 0.2);
}

.people__item:nth-child(28) {
  color: #04620f;
}

.people__item:nth-child(28) img {
  box-shadow: 0 0 30px rgba(4, 98, 15, 0.2);
}

.people__item:nth-child(29) {
  color: #044d2b;
}

.people__item:nth-child(29) img {
  box-shadow: 0 0 30px rgba(4, 77, 43, 0.2);
}

.people__item:nth-child(30) {
  color: #3b2a02;
}

.people__item:nth-child(30) img {
  box-shadow: 0 0 30px rgba(59, 42, 2, 0.2);
}

.people__item:nth-child(31) {
  color: #ca1302;
}

.people__item:nth-child(31) img {
  box-shadow: 0 0 30px rgba(202, 19, 2, 0.2);
}

.people__item:nth-child(32) {
  color: #ad2af8;
}

.people__item:nth-child(32) img {
  box-shadow: 0 0 30px rgba(173, 42, 248, 0.2);
}

.people__item:nth-child(33) {
  color: #065607;
}

.people__item:nth-child(33) img {
  box-shadow: 0 0 30px rgba(6, 86, 7, 0.2);
}

.people__item:nth-child(34) {
  color: #2fe9ae;
}

.people__item:nth-child(34) img {
  box-shadow: 0 0 30px rgba(47, 233, 174, 0.2);
}

.people__item:nth-child(35) {
  color: #0f76d7;
}

.people__item:nth-child(35) img {
  box-shadow: 0 0 30px rgba(15, 118, 215, 0.2);
}

.people__item:nth-child(36) {
  color: #9d0624;
}

.people__item:nth-child(36) img {
  box-shadow: 0 0 30px rgba(157, 6, 36, 0.2);
}

.people__item:nth-child(37) {
  color: #9df60e;
}

.people__item:nth-child(37) img {
  box-shadow: 0 0 30px rgba(157, 246, 14, 0.2);
}

.people__item:nth-child(38) {
  color: #bc066d;
}

.people__item:nth-child(38) img {
  box-shadow: 0 0 30px rgba(188, 6, 109, 0.2);
}

.people__item:nth-child(39) {
  color: #09720a;
}

.people__item:nth-child(39) img {
  box-shadow: 0 0 30px rgba(9, 114, 10, 0.2);
}

.people__item:nth-child(40) {
  color: #af10fe;
}

.people__item:nth-child(40) img {
  box-shadow: 0 0 30px rgba(175, 16, 254, 0.2);
}

.people-text {
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
}

.people-text__item {
  display: inline-block;
  margin: 0 10px;
}

.people-text__item:nth-child(1) {
  color: #630e08;
  filter: drop-shadow(0 0 20px rgba(99, 14, 8, 0.3));
}

.people-text__item:nth-child(2) {
  color: #930b5d;
  filter: drop-shadow(0 0 20px rgba(147, 11, 93, 0.3));
}

.people-text__item:nth-child(3) {
  color: #062099;
  filter: drop-shadow(0 0 20px rgba(6, 32, 153, 0.3));
}

.people-text__item:nth-child(4) {
  color: #7e0580;
  filter: drop-shadow(0 0 20px rgba(126, 5, 128, 0.3));
}

.people-text__item:nth-child(5) {
  color: #2708c4;
  filter: drop-shadow(0 0 20px rgba(39, 8, 196, 0.3));
}

.people-text__item:nth-child(6) {
  color: #250359;
  filter: drop-shadow(0 0 20px rgba(37, 3, 89, 0.3));
}

.people-text__item:nth-child(7) {
  color: #a2a40e;
  filter: drop-shadow(0 0 20px rgba(162, 164, 14, 0.3));
}

.people-text__item:nth-child(8) {
  color: #0141a7;
  filter: drop-shadow(0 0 20px rgba(1, 65, 167, 0.3));
}

.people-text__item:nth-child(9) {
  color: #29ffe2;
  filter: drop-shadow(0 0 20px rgba(41, 255, 226, 0.3));
}

.people-text__item:nth-child(10) {
  color: #82be09;
  filter: drop-shadow(0 0 20px rgba(130, 190, 9, 0.3));
}

.people-text__item:nth-child(11) {
  color: #e92b54;
  filter: drop-shadow(0 0 20px rgba(233, 43, 84, 0.3));
}

.people-text__item:nth-child(12) {
  color: #2f51f9;
  filter: drop-shadow(0 0 20px rgba(47, 81, 249, 0.3));
}

.people-text__item:nth-child(13) {
  color: #140df2;
  filter: drop-shadow(0 0 20px rgba(20, 13, 242, 0.3));
}

.people-text__item:nth-child(14) {
  color: #0d3078;
  filter: drop-shadow(0 0 20px rgba(13, 48, 120, 0.3));
}

.people-text__item:nth-child(15) {
  color: #085e1f;
  filter: drop-shadow(0 0 20px rgba(8, 94, 31, 0.3));
}

.people-text__item:nth-child(16) {
  color: #3f1003;
  filter: drop-shadow(0 0 20px rgba(63, 16, 3, 0.3));
}

.people-text__item:nth-child(17) {
  color: #7f6a0a;
  filter: drop-shadow(0 0 20px rgba(127, 106, 10, 0.3));
}

.people-text__item:nth-child(18) {
  color: #a00dba;
  filter: drop-shadow(0 0 20px rgba(160, 13, 186, 0.3));
}

.people-text__item:nth-child(19) {
  color: #002b57;
  filter: drop-shadow(0 0 20px rgba(0, 43, 87, 0.3));
}

.people-text__item:nth-child(20) {
  color: #8b08af;
  filter: drop-shadow(0 0 20px rgba(139, 8, 175, 0.3));
}

.people-text__item:nth-child(21) {
  color: #84017b;
  filter: drop-shadow(0 0 20px rgba(132, 1, 123, 0.3));
}

.people-text__item:nth-child(22) {
  color: #fa4614;
  filter: drop-shadow(0 0 20px rgba(250, 70, 20, 0.3));
}

.people-text__item:nth-child(23) {
  color: #3e04a9;
  filter: drop-shadow(0 0 20px rgba(62, 4, 169, 0.3));
}

.people-text__item:nth-child(24) {
  color: #cafc27;
  filter: drop-shadow(0 0 20px rgba(202, 252, 39, 0.3));
}

.people-text__item:nth-child(25) {
  color: #002847;
  filter: drop-shadow(0 0 20px rgba(0, 40, 71, 0.3));
}

.people-text__item:nth-child(26) {
  color: #194601;
  filter: drop-shadow(0 0 20px rgba(25, 70, 1, 0.3));
}

.people-text__item:nth-child(27) {
  color: #794d01;
  filter: drop-shadow(0 0 20px rgba(121, 77, 1, 0.3));
}

.people-text__item:nth-child(28) {
  color: #250746;
  filter: drop-shadow(0 0 20px rgba(37, 7, 70, 0.3));
}

.people-text__item:nth-child(29) {
  color: #9d3e07;
  filter: drop-shadow(0 0 20px rgba(157, 62, 7, 0.3));
}

.people-text__item:nth-child(30) {
  color: #0cd466;
  filter: drop-shadow(0 0 20px rgba(12, 212, 102, 0.3));
}

.people-text__item:nth-child(31) {
  color: #420d91;
  filter: drop-shadow(0 0 20px rgba(66, 13, 145, 0.3));
}

.people-text__item:nth-child(32) {
  color: #450216;
  filter: drop-shadow(0 0 20px rgba(69, 2, 22, 0.3));
}

.people-text__item:nth-child(33) {
  color: #010450;
  filter: drop-shadow(0 0 20px rgba(1, 4, 80, 0.3));
}

.people-text__item:nth-child(34) {
  color: #d801fe;
  filter: drop-shadow(0 0 20px rgba(216, 1, 254, 0.3));
}

.people-text__item:nth-child(35) {
  color: #5b0467;
  filter: drop-shadow(0 0 20px rgba(91, 4, 103, 0.3));
}

.people-text__item:nth-child(36) {
  color: #730251;
  filter: drop-shadow(0 0 20px rgba(115, 2, 81, 0.3));
}

.people-text__item:nth-child(37) {
  color: #483c05;
  filter: drop-shadow(0 0 20px rgba(72, 60, 5, 0.3));
}

.people-text__item:nth-child(38) {
  color: #30700a;
  filter: drop-shadow(0 0 20px rgba(48, 112, 10, 0.3));
}

.people-text__item:nth-child(39) {
  color: #f25a2c;
  filter: drop-shadow(0 0 20px rgba(242, 90, 44, 0.3));
}

.people-text__item:nth-child(40) {
  color: #f2f218;
  filter: drop-shadow(0 0 20px rgba(242, 242, 24, 0.3));
}

.people-text__item:nth-child(41) {
  color: #12aba3;
  filter: drop-shadow(0 0 20px rgba(18, 171, 163, 0.3));
}

.people-text__item:nth-child(42) {
  color: #5c6402;
  filter: drop-shadow(0 0 20px rgba(92, 100, 2, 0.3));
}

.people-text__item:nth-child(43) {
  color: #da2ff9;
  filter: drop-shadow(0 0 20px rgba(218, 47, 249, 0.3));
}

.people-text__item:nth-child(44) {
  color: #00dbbe;
  filter: drop-shadow(0 0 20px rgba(0, 219, 190, 0.3));
}

.people-text__item:nth-child(45) {
  color: #da107f;
  filter: drop-shadow(0 0 20px rgba(218, 16, 127, 0.3));
}

.people-text__item:nth-child(46) {
  color: #26f79d;
  filter: drop-shadow(0 0 20px rgba(38, 247, 157, 0.3));
}

.people-text__item:nth-child(47) {
  color: #290863;
  filter: drop-shadow(0 0 20px rgba(41, 8, 99, 0.3));
}

.people-text__item:nth-child(48) {
  color: #a0f637;
  filter: drop-shadow(0 0 20px rgba(160, 246, 55, 0.3));
}

.people-text__item:nth-child(49) {
  color: #09c369;
  filter: drop-shadow(0 0 20px rgba(9, 195, 105, 0.3));
}

.people-text__item:nth-child(50) {
  color: #6f260c;
  filter: drop-shadow(0 0 20px rgba(111, 38, 12, 0.3));
}

.people-text__item:nth-child(51) {
  color: #6214d7;
  filter: drop-shadow(0 0 20px rgba(98, 20, 215, 0.3));
}

.people-text__item:nth-child(52) {
  color: #12ba98;
  filter: drop-shadow(0 0 20px rgba(18, 186, 152, 0.3));
}

.people-text__item:nth-child(53) {
  color: #811b04;
  filter: drop-shadow(0 0 20px rgba(129, 27, 4, 0.3));
}

.people-text__item:nth-child(54) {
  color: #3e1b05;
  filter: drop-shadow(0 0 20px rgba(62, 27, 5, 0.3));
}

.people-text__item:nth-child(55) {
  color: #01c615;
  filter: drop-shadow(0 0 20px rgba(1, 198, 21, 0.3));
}

.people-text__item:nth-child(56) {
  color: #ef43cf;
  filter: drop-shadow(0 0 20px rgba(239, 67, 207, 0.3));
}

.people-text__item:nth-child(57) {
  color: #37eb67;
  filter: drop-shadow(0 0 20px rgba(55, 235, 103, 0.3));
}

.people-text__item:nth-child(58) {
  color: #86f934;
  filter: drop-shadow(0 0 20px rgba(134, 249, 52, 0.3));
}

.people-text__item:nth-child(59) {
  color: #0491d2;
  filter: drop-shadow(0 0 20px rgba(4, 145, 210, 0.3));
}

.people-text__item:nth-child(60) {
  color: #053d52;
  filter: drop-shadow(0 0 20px rgba(5, 61, 82, 0.3));
}

.jump-rate-table td:nth-child(1) {
  width: 20%;
}

.jump-rate-table td:nth-child(3) {
  width: 20%;
}

.button {
  font-size: 1.3em;
  padding: 20px 35px;
  border-radius: 15px;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button--primary {
  background: #00d2ff;
}

.button--primary:hover {
  background: #00c1eb;
}

#bar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

@media (max-width: 720px) {
  #bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 250ms ease;
    flex-direction: column;
    background: white;
    width: 280px;
    justify-content: flex-start;
    z-index: 2;
  }
  #bar.bar-active {
    transform: translateX(0);
    color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
  #bar.bar-active + .bar-backdrop {
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 721px) {
  #bar.bar-active + .bar-backdrop {
    pointer-events: none;
  }
}

.bar-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transition: opacity 250ms ease;
}

#bar > li {
  position: relative;
  display: inline-block;
}

#bar > li:not(:last-child) {
  margin-right: 25px;
}

#bar > li > a {
  display: block;
  margin-right: 0;
  padding: 15px 0;
  text-decoration: none;
  color: #3a7bd5;
}

@media (min-width: 721px) {
  #bar > li > a {
    color: #fff;
  }
}

@media (max-width: 720px) {
  #bar > li > a {
    padding: 10px 20px;
  }
}

#bar > li > a > .fa {
  margin-left: 4px;
  font-size: 0.9em;
}

/*
  Menu
*/
.menu .submenu {
  visibility: hidden;
}

@media (max-width: 720px) {
  .menu .submenu {
    display: none;
  }
}

@media (min-width: 721px) {
  .menu .submenu {
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    left: -12px;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 12px;
    position: absolute;
    top: 38px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    width: 200px;
    z-index: 2;
    font-size: 1rem;
  }
  .menu .submenu:before,
  .menu .submenu::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    content: '';
    height: 0;
    left: 24px;
    position: absolute;
    top: -6px;
    width: 0;
  }
}

@media (min-width: 721px) {
  .no-js .menu:hover .submenu,
  .menu-hover:hover .submenu {
    opacity: 1;
    top: 44px;
    visibility: visible;
  }
}

@media (max-width: 720px) {
  .menu-hover.menu-active .submenu {
    display: block;
    opacity: 1;
    top: 44px;
    visibility: visible;
  }
}

.menu .submenu a {
  color: #777;
  display: block;
  line-height: 1.2em;
  padding: 5px 0;
  text-decoration: none;
}

@media (max-width: 720px) {
  .menu .submenu {
    list-style: none;
  }
}

.menu .submenu a:hover {
  color: orangered;
}

.menu-right .submenu {
  left: auto;
  right: -12px;
  text-align: right;
}

.menu-right .submenu:before,
.menu-right .submenu::before {
  left: auto;
  right: 24px;
}

#bar a.active {
  font-weight: 800;
}

#bar .submenu a.active {
  color: black;
}

.footer-wrapper {
  background: linear-gradient(to left, #7BD53A, #62b527);
  color: white;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
}

footer::after {
  content: '';
  display: table;
  clear: both;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer__details-col {
  flex: 1;
  align-self: center;
  text-align: center;
}

.footer__cities-col,
.footer__quick-links-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 720px) {
  .footer__cities-col,
  .footer__quick-links-col {
    display: none;
  }
}

.footer__cities-col a,
.footer__quick-links-col a {
  margin: 5px 1em;
}

.footer__business-name {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.footer__address {
  font-size: 0.9em;
}

.figure {
  font-size: 0.7em;
  text-align: center;
}

.figure--float-left {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.figure--float-right {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

.skydive-selector {
  display: flex;
}

@media (max-width: 720px) {
  .skydive-selector {
    flex-direction: column;
  }
}

.skydive-selector__option div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
}

.skydive-selector__option a {
  text-decoration: none;
}

.skydive-selector__option aside {
  text-align: center;
  font-size: 1.3em;
}

.skydive-selector__option span {
  z-index: 2;
}

.skydive-selector__option div:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}

.skydive-selector__option {
  flex: 1;
  margin: 1em;
}

.skydive-selector__option--tandem div {
  background: url(../img/tandem.jpg);
  background-size: cover;
  height: 250px;
}

.skydive-selector__option--solo div {
  background: url(../img/iad.jpg);
  background-size: cover;
  height: 250px;
}
