@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  color: #566b78;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
}

.body-noscroll {
  overflow: hidden;
}

main {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

h1,
h2,
h3,
strong {
  color: #333;
}

h2,
h3 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

a[href^='tel:'] {
  text-decoration: none;
  color: inherit;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
}

main table {
  width: 100%;
}

main table td {
  padding: 5px 10px;
}

main table thead tr {
  background: #00d2ff;
  color: white;
  font-weight: 400;
}

main table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}

main {
  display: block;
}

.video-responsive-container {
  max-width: 640px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.header-wrapper {
  color: white;
  background: #00d2ff;
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  background: url("/img/header-bg.jpg");
  background-position: center 71%;
  background-size: cover;
}

.header-wrapper--video {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-wrapper--video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.header-wrapper--video header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__lets-play {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__lets-play div {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.header__lets-play a {
  display: inline-block;
  margin: 0.5em auto 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #00d2ff;
  border-radius: 0.75em;
  border: 0;
  color: white;
  padding: 1.2em 1.8em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 250ms ease;
}

.header__lets-play a:hover {
  text-decoration: none;
  transform: scale(1.1);
  background-color: #00a8cc;
}

.full-width {
  width: 100%;
}

section {
  margin: auto;
  max-width: 34em;
  padding: 0 1em;
}

@media screen and (max-width: 25em) {
  body {
    font-size: 90%;
  }
}

.choose-text {
  text-align: center;
  padding: 0;
  margin: 1em 0 0;
}

.tandem-video {
  width: 100%;
}

.note {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #84B1ED;
}

.accordion > dt > a {
  text-decoration: none;
}

.accordion > dt > a:after {
  content: ' »';
}

.accordion > dt > a:hover {
  text-decoration: underline;
}

.accordion dt,
.accordion dd {
  border: 0;
  margin: 0;
  overflow: auto;
}

.accordion dt {
  margin-top: .25em;
}

.navigation {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 1em;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5;
  margin: 0 1em;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  width: 8em;
  padding-bottom: 6px;
}

.navigation a.active {
  color: white;
}

.navigation a.active:after {
  background-color: white;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 200ms ease;
}

.navigation a:hover:after, .navigation a:active:after, .navigation a.active:after, .navigation a:focus:after {
  width: 100%;
}

.navigation__call {
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  color: #d5473a;
  line-height: 2;
}

@media (max-width: 720px) {
  .navigation__call {
    font-size: 5vw;
    font-weight: 400;
  }
}

.title {
  padding: 1em 0;
  text-align: center;
  font-family: sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.title > div {
  -ms-flex: 1;
      flex: 1;
}

.title i {
  font-size: 1.5em;
  padding: 10px 15px;
}

@media (min-width: 721px) {
  .title i {
    display: none;
  }
}

@media (max-width: 720px) {
  .title {
    padding: 1em 10px;
    text-align: left;
  }
}

.title h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  line-height: 1;
  font-size: 3em;
}

@media (max-width: 720px) {
  .title h1 {
    font-size: 6vw;
    font-weight: 400;
  }
}

.title h1 a {
  color: white;
  text-decoration: none;
}

.title aside {
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.image-line {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.image-line img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.image-line > * {
  min-width: 0;
}

.image-line > *:not(:last-child) {
  margin-right: 1em;
}

.people {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  padding: 0;
}

.people__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.people__item img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid;
}

.people__item:nth-child(1) {
  color: #8bec36;
}

.people__item:nth-child(1) img {
  box-shadow: 0 0 30px rgba(139, 236, 54, 0.2);
}

.people__item:nth-child(2) {
  color: #8a6a0a;
}

.people__item:nth-child(2) img {
  box-shadow: 0 0 30px rgba(138, 106, 10, 0.2);
}

.people__item:nth-child(3) {
  color: #0777da;
}

.people__item:nth-child(3) img {
  box-shadow: 0 0 30px rgba(7, 119, 218, 0.2);
}

.people__item:nth-child(4) {
  color: #8409dc;
}

.people__item:nth-child(4) img {
  box-shadow: 0 0 30px rgba(132, 9, 220, 0.2);
}

.people__item:nth-child(5) {
  color: #1c0551;
}

.people__item:nth-child(5) img {
  box-shadow: 0 0 30px rgba(28, 5, 81, 0.2);
}

.people__item:nth-child(6) {
  color: #947f05;
}

.people__item:nth-child(6) img {
  box-shadow: 0 0 30px rgba(148, 127, 5, 0.2);
}

.people__item:nth-child(7) {
  color: #ed0ca6;
}

.people__item:nth-child(7) img {
  box-shadow: 0 0 30px rgba(237, 12, 166, 0.2);
}

.people__item:nth-child(8) {
  color: #7a5505;
}

.people__item:nth-child(8) img {
  box-shadow: 0 0 30px rgba(122, 85, 5, 0.2);
}

.people__item:nth-child(9) {
  color: #10950e;
}

.people__item:nth-child(9) img {
  box-shadow: 0 0 30px rgba(16, 149, 14, 0.2);
}

.people__item:nth-child(10) {
  color: #f31b4e;
}

.people__item:nth-child(10) img {
  box-shadow: 0 0 30px rgba(243, 27, 78, 0.2);
}

.people__item:nth-child(11) {
  color: #63930b;
}

.people__item:nth-child(11) img {
  box-shadow: 0 0 30px rgba(99, 147, 11, 0.2);
}

.people__item:nth-child(12) {
  color: #8328eb;
}

.people__item:nth-child(12) img {
  box-shadow: 0 0 30px rgba(131, 40, 235, 0.2);
}

.people__item:nth-child(13) {
  color: #942f00;
}

.people__item:nth-child(13) img {
  box-shadow: 0 0 30px rgba(148, 47, 0, 0.2);
}

.people__item:nth-child(14) {
  color: #13004d;
}

.people__item:nth-child(14) img {
  box-shadow: 0 0 30px rgba(19, 0, 77, 0.2);
}

.people__item:nth-child(15) {
  color: #c1ac0b;
}

.people__item:nth-child(15) img {
  box-shadow: 0 0 30px rgba(193, 172, 11, 0.2);
}

.people__item:nth-child(16) {
  color: #3140ed;
}

.people__item:nth-child(16) img {
  box-shadow: 0 0 30px rgba(49, 64, 237, 0.2);
}

.people__item:nth-child(17) {
  color: #080c72;
}

.people__item:nth-child(17) img {
  box-shadow: 0 0 30px rgba(8, 12, 114, 0.2);
}

.people__item:nth-child(18) {
  color: #6ec101;
}

.people__item:nth-child(18) img {
  box-shadow: 0 0 30px rgba(110, 193, 1, 0.2);
}

.people__item:nth-child(19) {
  color: #f69d04;
}

.people__item:nth-child(19) img {
  box-shadow: 0 0 30px rgba(246, 157, 4, 0.2);
}

.people__item:nth-child(20) {
  color: #085191;
}

.people__item:nth-child(20) img {
  box-shadow: 0 0 30px rgba(8, 81, 145, 0.2);
}

.people__item:nth-child(21) {
  color: #4d0407;
}

.people__item:nth-child(21) img {
  box-shadow: 0 0 30px rgba(77, 4, 7, 0.2);
}

.people__item:nth-child(22) {
  color: #13ecb9;
}

.people__item:nth-child(22) img {
  box-shadow: 0 0 30px rgba(19, 236, 185, 0.2);
}

.people__item:nth-child(23) {
  color: #28f0cf;
}

.people__item:nth-child(23) img {
  box-shadow: 0 0 30px rgba(40, 240, 207, 0.2);
}

.people__item:nth-child(24) {
  color: #075008;
}

.people__item:nth-child(24) img {
  box-shadow: 0 0 30px rgba(7, 80, 8, 0.2);
}

.people__item:nth-child(25) {
  color: #c2c903;
}

.people__item:nth-child(25) img {
  box-shadow: 0 0 30px rgba(194, 201, 3, 0.2);
}

.people__item:nth-child(26) {
  color: #0dbfad;
}

.people__item:nth-child(26) img {
  box-shadow: 0 0 30px rgba(13, 191, 173, 0.2);
}

.people__item:nth-child(27) {
  color: #0e907f;
}

.people__item:nth-child(27) img {
  box-shadow: 0 0 30px rgba(14, 144, 127, 0.2);
}

.people__item:nth-child(28) {
  color: #095d7c;
}

.people__item:nth-child(28) img {
  box-shadow: 0 0 30px rgba(9, 93, 124, 0.2);
}

.people__item:nth-child(29) {
  color: #780d96;
}

.people__item:nth-child(29) img {
  box-shadow: 0 0 30px rgba(120, 13, 150, 0.2);
}

.people__item:nth-child(30) {
  color: #fcf236;
}

.people__item:nth-child(30) img {
  box-shadow: 0 0 30px rgba(252, 242, 54, 0.2);
}

.people__item:nth-child(31) {
  color: #d91812;
}

.people__item:nth-child(31) img {
  box-shadow: 0 0 30px rgba(217, 24, 18, 0.2);
}

.people__item:nth-child(32) {
  color: #0aff70;
}

.people__item:nth-child(32) img {
  box-shadow: 0 0 30px rgba(10, 255, 112, 0.2);
}

.people__item:nth-child(33) {
  color: #c21b0f;
}

.people__item:nth-child(33) img {
  box-shadow: 0 0 30px rgba(194, 27, 15, 0.2);
}

.people__item:nth-child(34) {
  color: #073755;
}

.people__item:nth-child(34) img {
  box-shadow: 0 0 30px rgba(7, 55, 85, 0.2);
}

.people__item:nth-child(35) {
  color: #0e3c02;
}

.people__item:nth-child(35) img {
  box-shadow: 0 0 30px rgba(14, 60, 2, 0.2);
}

.people__item:nth-child(36) {
  color: #057a76;
}

.people__item:nth-child(36) img {
  box-shadow: 0 0 30px rgba(5, 122, 118, 0.2);
}

.people__item:nth-child(37) {
  color: #057641;
}

.people__item:nth-child(37) img {
  box-shadow: 0 0 30px rgba(5, 118, 65, 0.2);
}

.people__item:nth-child(38) {
  color: #fc1c03;
}

.people__item:nth-child(38) img {
  box-shadow: 0 0 30px rgba(252, 28, 3, 0.2);
}

.people__item:nth-child(39) {
  color: #1a0472;
}

.people__item:nth-child(39) img {
  box-shadow: 0 0 30px rgba(26, 4, 114, 0.2);
}

.people__item:nth-child(40) {
  color: #7618e2;
}

.people__item:nth-child(40) img {
  box-shadow: 0 0 30px rgba(118, 24, 226, 0.2);
}

.people-text {
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
}

.people-text__item {
  display: inline-block;
  margin: 0 10px;
}

.people-text__item:nth-child(1) {
  color: #0b0335;
  -webkit-filter: drop-shadow(0 0 20px rgba(11, 3, 53, 0.3));
          filter: drop-shadow(0 0 20px rgba(11, 3, 53, 0.3));
}

.people-text__item:nth-child(2) {
  color: #d7098c;
  -webkit-filter: drop-shadow(0 0 20px rgba(215, 9, 140, 0.3));
          filter: drop-shadow(0 0 20px rgba(215, 9, 140, 0.3));
}

.people-text__item:nth-child(3) {
  color: #1e3df1;
  -webkit-filter: drop-shadow(0 0 20px rgba(30, 61, 241, 0.3));
          filter: drop-shadow(0 0 20px rgba(30, 61, 241, 0.3));
}

.people-text__item:nth-child(4) {
  color: #09797b;
  -webkit-filter: drop-shadow(0 0 20px rgba(9, 121, 123, 0.3));
          filter: drop-shadow(0 0 20px rgba(9, 121, 123, 0.3));
}

.people-text__item:nth-child(5) {
  color: #025a22;
  -webkit-filter: drop-shadow(0 0 20px rgba(2, 90, 34, 0.3));
          filter: drop-shadow(0 0 20px rgba(2, 90, 34, 0.3));
}

.people-text__item:nth-child(6) {
  color: #0688b7;
  -webkit-filter: drop-shadow(0 0 20px rgba(6, 136, 183, 0.3));
          filter: drop-shadow(0 0 20px rgba(6, 136, 183, 0.3));
}

.people-text__item:nth-child(7) {
  color: #6b0150;
  -webkit-filter: drop-shadow(0 0 20px rgba(107, 1, 80, 0.3));
          filter: drop-shadow(0 0 20px rgba(107, 1, 80, 0.3));
}

.people-text__item:nth-child(8) {
  color: #743702;
  -webkit-filter: drop-shadow(0 0 20px rgba(116, 55, 2, 0.3));
          filter: drop-shadow(0 0 20px rgba(116, 55, 2, 0.3));
}

.people-text__item:nth-child(9) {
  color: #5d0d04;
  -webkit-filter: drop-shadow(0 0 20px rgba(93, 13, 4, 0.3));
          filter: drop-shadow(0 0 20px rgba(93, 13, 4, 0.3));
}

.people-text__item:nth-child(10) {
  color: #456402;
  -webkit-filter: drop-shadow(0 0 20px rgba(69, 100, 2, 0.3));
          filter: drop-shadow(0 0 20px rgba(69, 100, 2, 0.3));
}

.people-text__item:nth-child(11) {
  color: #400755;
  -webkit-filter: drop-shadow(0 0 20px rgba(64, 7, 85, 0.3));
          filter: drop-shadow(0 0 20px rgba(64, 7, 85, 0.3));
}

.people-text__item:nth-child(12) {
  color: #71cd0e;
  -webkit-filter: drop-shadow(0 0 20px rgba(113, 205, 14, 0.3));
          filter: drop-shadow(0 0 20px rgba(113, 205, 14, 0.3));
}

.people-text__item:nth-child(13) {
  color: #4fff14;
  -webkit-filter: drop-shadow(0 0 20px rgba(79, 255, 20, 0.3));
          filter: drop-shadow(0 0 20px rgba(79, 255, 20, 0.3));
}

.people-text__item:nth-child(14) {
  color: #15cb1b;
  -webkit-filter: drop-shadow(0 0 20px rgba(21, 203, 27, 0.3));
          filter: drop-shadow(0 0 20px rgba(21, 203, 27, 0.3));
}

.people-text__item:nth-child(15) {
  color: #7305f0;
  -webkit-filter: drop-shadow(0 0 20px rgba(115, 5, 240, 0.3));
          filter: drop-shadow(0 0 20px rgba(115, 5, 240, 0.3));
}

.people-text__item:nth-child(16) {
  color: #053b52;
  -webkit-filter: drop-shadow(0 0 20px rgba(5, 59, 82, 0.3));
          filter: drop-shadow(0 0 20px rgba(5, 59, 82, 0.3));
}

.people-text__item:nth-child(17) {
  color: #0b66d5;
  -webkit-filter: drop-shadow(0 0 20px rgba(11, 102, 213, 0.3));
          filter: drop-shadow(0 0 20px rgba(11, 102, 213, 0.3));
}

.people-text__item:nth-child(18) {
  color: #6021e8;
  -webkit-filter: drop-shadow(0 0 20px rgba(96, 33, 232, 0.3));
          filter: drop-shadow(0 0 20px rgba(96, 33, 232, 0.3));
}

.people-text__item:nth-child(19) {
  color: #f48434;
  -webkit-filter: drop-shadow(0 0 20px rgba(244, 132, 52, 0.3));
          filter: drop-shadow(0 0 20px rgba(244, 132, 52, 0.3));
}

.people-text__item:nth-child(20) {
  color: #5110f4;
  -webkit-filter: drop-shadow(0 0 20px rgba(81, 16, 244, 0.3));
          filter: drop-shadow(0 0 20px rgba(81, 16, 244, 0.3));
}

.people-text__item:nth-child(21) {
  color: #6aaf08;
  -webkit-filter: drop-shadow(0 0 20px rgba(106, 175, 8, 0.3));
          filter: drop-shadow(0 0 20px rgba(106, 175, 8, 0.3));
}

.people-text__item:nth-child(22) {
  color: #eb14c7;
  -webkit-filter: drop-shadow(0 0 20px rgba(235, 20, 199, 0.3));
          filter: drop-shadow(0 0 20px rgba(235, 20, 199, 0.3));
}

.people-text__item:nth-child(23) {
  color: #fbc337;
  -webkit-filter: drop-shadow(0 0 20px rgba(251, 195, 55, 0.3));
          filter: drop-shadow(0 0 20px rgba(251, 195, 55, 0.3));
}

.people-text__item:nth-child(24) {
  color: #053830;
  -webkit-filter: drop-shadow(0 0 20px rgba(5, 56, 48, 0.3));
          filter: drop-shadow(0 0 20px rgba(5, 56, 48, 0.3));
}

.people-text__item:nth-child(25) {
  color: #ec46de;
  -webkit-filter: drop-shadow(0 0 20px rgba(236, 70, 222, 0.3));
          filter: drop-shadow(0 0 20px rgba(236, 70, 222, 0.3));
}

.people-text__item:nth-child(26) {
  color: #1fa210;
  -webkit-filter: drop-shadow(0 0 20px rgba(31, 162, 16, 0.3));
          filter: drop-shadow(0 0 20px rgba(31, 162, 16, 0.3));
}

.people-text__item:nth-child(27) {
  color: #ff33f1;
  -webkit-filter: drop-shadow(0 0 20px rgba(255, 51, 241, 0.3));
          filter: drop-shadow(0 0 20px rgba(255, 51, 241, 0.3));
}

.people-text__item:nth-child(28) {
  color: #1c0236;
  -webkit-filter: drop-shadow(0 0 20px rgba(28, 2, 54, 0.3));
          filter: drop-shadow(0 0 20px rgba(28, 2, 54, 0.3));
}

.people-text__item:nth-child(29) {
  color: #05853a;
  -webkit-filter: drop-shadow(0 0 20px rgba(5, 133, 58, 0.3));
          filter: drop-shadow(0 0 20px rgba(5, 133, 58, 0.3));
}

.people-text__item:nth-child(30) {
  color: #8d2bfd;
  -webkit-filter: drop-shadow(0 0 20px rgba(141, 43, 253, 0.3));
          filter: drop-shadow(0 0 20px rgba(141, 43, 253, 0.3));
}

.people-text__item:nth-child(31) {
  color: #400dd9;
  -webkit-filter: drop-shadow(0 0 20px rgba(64, 13, 217, 0.3));
          filter: drop-shadow(0 0 20px rgba(64, 13, 217, 0.3));
}

.people-text__item:nth-child(32) {
  color: #01df78;
  -webkit-filter: drop-shadow(0 0 20px rgba(1, 223, 120, 0.3));
          filter: drop-shadow(0 0 20px rgba(1, 223, 120, 0.3));
}

.people-text__item:nth-child(33) {
  color: #6f0b6f;
  -webkit-filter: drop-shadow(0 0 20px rgba(111, 11, 111, 0.3));
          filter: drop-shadow(0 0 20px rgba(111, 11, 111, 0.3));
}

.people-text__item:nth-child(34) {
  color: #072f9d;
  -webkit-filter: drop-shadow(0 0 20px rgba(7, 47, 157, 0.3));
          filter: drop-shadow(0 0 20px rgba(7, 47, 157, 0.3));
}

.people-text__item:nth-child(35) {
  color: #1cf259;
  -webkit-filter: drop-shadow(0 0 20px rgba(28, 242, 89, 0.3));
          filter: drop-shadow(0 0 20px rgba(28, 242, 89, 0.3));
}

.people-text__item:nth-child(36) {
  color: #083d59;
  -webkit-filter: drop-shadow(0 0 20px rgba(8, 61, 89, 0.3));
          filter: drop-shadow(0 0 20px rgba(8, 61, 89, 0.3));
}

.people-text__item:nth-child(37) {
  color: #3df08d;
  -webkit-filter: drop-shadow(0 0 20px rgba(61, 240, 141, 0.3));
          filter: drop-shadow(0 0 20px rgba(61, 240, 141, 0.3));
}

.people-text__item:nth-child(38) {
  color: #e48b07;
  -webkit-filter: drop-shadow(0 0 20px rgba(228, 139, 7, 0.3));
          filter: drop-shadow(0 0 20px rgba(228, 139, 7, 0.3));
}

.people-text__item:nth-child(39) {
  color: #e5cc10;
  -webkit-filter: drop-shadow(0 0 20px rgba(229, 204, 16, 0.3));
          filter: drop-shadow(0 0 20px rgba(229, 204, 16, 0.3));
}

.people-text__item:nth-child(40) {
  color: #2e0571;
  -webkit-filter: drop-shadow(0 0 20px rgba(46, 5, 113, 0.3));
          filter: drop-shadow(0 0 20px rgba(46, 5, 113, 0.3));
}

.people-text__item:nth-child(41) {
  color: #290137;
  -webkit-filter: drop-shadow(0 0 20px rgba(41, 1, 55, 0.3));
          filter: drop-shadow(0 0 20px rgba(41, 1, 55, 0.3));
}

.people-text__item:nth-child(42) {
  color: #570ac2;
  -webkit-filter: drop-shadow(0 0 20px rgba(87, 10, 194, 0.3));
          filter: drop-shadow(0 0 20px rgba(87, 10, 194, 0.3));
}

.people-text__item:nth-child(43) {
  color: #05d8f0;
  -webkit-filter: drop-shadow(0 0 20px rgba(5, 216, 240, 0.3));
          filter: drop-shadow(0 0 20px rgba(5, 216, 240, 0.3));
}

.people-text__item:nth-child(44) {
  color: #380160;
  -webkit-filter: drop-shadow(0 0 20px rgba(56, 1, 96, 0.3));
          filter: drop-shadow(0 0 20px rgba(56, 1, 96, 0.3));
}

.people-text__item:nth-child(45) {
  color: #32da10;
  -webkit-filter: drop-shadow(0 0 20px rgba(50, 218, 16, 0.3));
          filter: drop-shadow(0 0 20px rgba(50, 218, 16, 0.3));
}

.people-text__item:nth-child(46) {
  color: #0dd34f;
  -webkit-filter: drop-shadow(0 0 20px rgba(13, 211, 79, 0.3));
          filter: drop-shadow(0 0 20px rgba(13, 211, 79, 0.3));
}

.people-text__item:nth-child(47) {
  color: #880164;
  -webkit-filter: drop-shadow(0 0 20px rgba(136, 1, 100, 0.3));
          filter: drop-shadow(0 0 20px rgba(136, 1, 100, 0.3));
}

.people-text__item:nth-child(48) {
  color: #59ab0d;
  -webkit-filter: drop-shadow(0 0 20px rgba(89, 171, 13, 0.3));
          filter: drop-shadow(0 0 20px rgba(89, 171, 13, 0.3));
}

.people-text__item:nth-child(49) {
  color: #85f505;
  -webkit-filter: drop-shadow(0 0 20px rgba(133, 245, 5, 0.3));
          filter: drop-shadow(0 0 20px rgba(133, 245, 5, 0.3));
}

.people-text__item:nth-child(50) {
  color: #6c1bee;
  -webkit-filter: drop-shadow(0 0 20px rgba(108, 27, 238, 0.3));
          filter: drop-shadow(0 0 20px rgba(108, 27, 238, 0.3));
}

.people-text__item:nth-child(51) {
  color: #0909b3;
  -webkit-filter: drop-shadow(0 0 20px rgba(9, 9, 179, 0.3));
          filter: drop-shadow(0 0 20px rgba(9, 9, 179, 0.3));
}

.people-text__item:nth-child(52) {
  color: #09bdce;
  -webkit-filter: drop-shadow(0 0 20px rgba(9, 189, 206, 0.3));
          filter: drop-shadow(0 0 20px rgba(9, 189, 206, 0.3));
}

.people-text__item:nth-child(53) {
  color: #676a01;
  -webkit-filter: drop-shadow(0 0 20px rgba(103, 106, 1, 0.3));
          filter: drop-shadow(0 0 20px rgba(103, 106, 1, 0.3));
}

.people-text__item:nth-child(54) {
  color: #a0300e;
  -webkit-filter: drop-shadow(0 0 20px rgba(160, 48, 14, 0.3));
          filter: drop-shadow(0 0 20px rgba(160, 48, 14, 0.3));
}

.people-text__item:nth-child(55) {
  color: #e66305;
  -webkit-filter: drop-shadow(0 0 20px rgba(230, 99, 5, 0.3));
          filter: drop-shadow(0 0 20px rgba(230, 99, 5, 0.3));
}

.people-text__item:nth-child(56) {
  color: #dd27f1;
  -webkit-filter: drop-shadow(0 0 20px rgba(221, 39, 241, 0.3));
          filter: drop-shadow(0 0 20px rgba(221, 39, 241, 0.3));
}

.people-text__item:nth-child(57) {
  color: #5b0bef;
  -webkit-filter: drop-shadow(0 0 20px rgba(91, 11, 239, 0.3));
          filter: drop-shadow(0 0 20px rgba(91, 11, 239, 0.3));
}

.people-text__item:nth-child(58) {
  color: #35031a;
  -webkit-filter: drop-shadow(0 0 20px rgba(53, 3, 26, 0.3));
          filter: drop-shadow(0 0 20px rgba(53, 3, 26, 0.3));
}

.people-text__item:nth-child(59) {
  color: #8f0f29;
  -webkit-filter: drop-shadow(0 0 20px rgba(143, 15, 41, 0.3));
          filter: drop-shadow(0 0 20px rgba(143, 15, 41, 0.3));
}

.people-text__item:nth-child(60) {
  color: #ef017c;
  -webkit-filter: drop-shadow(0 0 20px rgba(239, 1, 124, 0.3));
          filter: drop-shadow(0 0 20px rgba(239, 1, 124, 0.3));
}

.jump-rate-table td:nth-child(1) {
  width: 20%;
}

.jump-rate-table td:nth-child(3) {
  width: 20%;
}

.button {
  font-size: 1.3em;
  padding: 20px 35px;
  border-radius: 15px;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button--primary {
  background: #00d2ff;
}

.button--primary:hover {
  background: #00c1eb;
}

#bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.bar__on-sale {
  background: red;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 0 5px;
  text-transform: uppercase;
  vertical-align: center;
}

@media (max-width: 720px) {
  #bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 250ms ease;
    -ms-flex-direction: column;
        flex-direction: column;
    overflow-y: auto;
    background: white;
    width: 280px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    z-index: 3;
  }
  #bar.bar-active {
    transform: translateX(0);
    color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
  #bar.bar-active + .bar-backdrop {
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 721px) {
  #bar.bar-active + .bar-backdrop {
    pointer-events: none;
  }
}

.bar-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transition: opacity 250ms ease;
}

#bar > li {
  position: relative;
  display: inline-block;
}

#bar > li:not(:last-child) {
  margin-right: 25px;
}

#bar > li > a {
  display: block;
  margin-right: 0;
  padding: 15px 0;
  text-decoration: none;
  color: #3a7bd5;
}

@media (min-width: 721px) {
  #bar > li > a {
    color: #fff;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
  }
}

@media (max-width: 720px) {
  #bar > li > a {
    padding: 10px 20px;
  }
}

#bar > li > a > .fa {
  margin-left: 4px;
  font-size: 0.9em;
}

/*
  Menu
*/
.menu .submenu {
  visibility: hidden;
}

@media (max-width: 720px) {
  .menu .submenu {
    display: none;
  }
}

@media (min-width: 721px) {
  .menu .submenu {
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    left: -12px;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 12px;
    position: absolute;
    top: 38px;
    transition: all 0.25s;
    width: 230px;
    z-index: 3;
    font-size: 1rem;
  }
  .menu .submenu:before,
  .menu .submenu::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    content: '';
    height: 0;
    left: 24px;
    position: absolute;
    top: -6px;
    width: 0;
  }
}

@media (min-width: 721px) {
  .no-js .menu:hover .submenu,
  .menu-hover:hover .submenu {
    opacity: 1;
    top: 44px;
    visibility: visible;
  }
}

@media (max-width: 720px) {
  .menu-hover.menu-active .submenu {
    display: block;
    opacity: 1;
    top: 44px;
    visibility: visible;
  }
}

.menu .submenu a {
  color: #777;
  display: block;
  line-height: 1.2em;
  padding: 5px 0;
  text-decoration: none;
}

@media (max-width: 720px) {
  .menu .submenu {
    list-style: none;
  }
}

.menu .submenu a:hover {
  color: orangered;
}

.menu-right .submenu {
  left: auto;
  right: -12px;
  text-align: right;
}

.menu-right .submenu:before,
.menu-right .submenu::before {
  left: auto;
  right: 24px;
}

#bar a.active {
  font-weight: 800;
}

#bar .submenu a.active {
  color: black;
}

.footer-wrapper {
  background: linear-gradient(to left, #7BD53A, #62b527);
  background: url("/img/footer-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  color: white;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 0;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 720px) {
  footer {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

footer::after {
  content: '';
  display: table;
  clear: both;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer__details-col {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.footer__cities-col,
.footer__quick-links-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 720px) {
  .footer__cities-col,
  .footer__quick-links-col {
    display: none;
  }
}

.footer__cities-col a,
.footer__quick-links-col a {
  margin: 5px 1em;
}

.footer__business-name {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.footer__address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.footer__social {
  font-size: 1.8em;
}

.footer__social a {
  padding: 0 5px;
}

.footer__back-to-top-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  color: white;
  line-height: 1;
}

@media (min-width: 721px) {
  .footer__back-to-top-col {
    display: none;
  }
}

.footer__back-to-top-col .fa {
  font-size: 2em;
}

.figure {
  font-size: 0.7em;
  text-align: center;
}

.figure--float-left {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.figure--float-right {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

.skydive-selector {
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
  padding: 1em 0;
}

.skydive-selector__option div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
}

@media (max-width: 720px) {
  .skydive-selector__option div {
    font-weight: 400;
  }
}

.skydive-selector__option a {
  text-decoration: none;
}

.skydive-selector__option aside {
  text-align: center;
  font-size: 1.3em;
}

@media (max-width: 720px) {
  .skydive-selector__option aside {
    font-size: 0.9em;
  }
}

.skydive-selector__option span {
  z-index: 2;
}

.skydive-selector__option div:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}

.skydive-selector__option {
  -ms-flex: 1;
      flex: 1;
  margin: 1em;
}

.skydive-selector__option--tandem div,
.skydive-selector__option--solo div {
  height: 250px;
}

@media (max-width: 720px) {
  .skydive-selector__option--tandem div,
  .skydive-selector__option--solo div {
    height: calc(40vw - 2em);
    font-size: 2em;
  }
}

.skydive-selector__option--tandem div {
  background: url(../img/tandem.jpg);
  background-size: cover;
  background-position: center;
}

.skydive-selector__option--solo div {
  background: url(../img/iad.jpg);
  background-size: cover;
  background-position: center;
}

.spring-special-banner {
  padding: 2em;
  background: linear-gradient(to left, #57a022, #69c229);
  color: white;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  margin-top: 1em;
}

.spring-special-banner h2 {
  margin-top: 0;
  padding-top: 0;
}

.spring-special-banner strong,
.spring-special-banner a,
.spring-special-banner h2 {
  color: white;
}
