@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  color: #566b78;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
}

.body-noscroll {
  overflow: hidden;
}

main {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

h1,
h2,
h3,
strong {
  color: #333;
}

h2,
h3 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

a[href^='tel:'] {
  text-decoration: none;
  color: inherit;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
}

main table {
  width: 100%;
}

main table td {
  padding: 5px 10px;
}

main table thead tr {
  background: #00d2ff;
  color: white;
  font-weight: 400;
}

main table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}

main {
  display: block;
}

.video-responsive-container {
  max-width: 640px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.header-wrapper {
  color: white;
  background: #00d2ff;
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  background: url("/img/header-bg.jpg");
  background-position: center 71%;
  background-size: cover;
}

.header-wrapper--video {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-wrapper--video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.header-wrapper--video header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__lets-play {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__lets-play div {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.header__lets-play a {
  display: inline-block;
  margin: 0.5em auto 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #00d2ff;
  border-radius: 0.75em;
  border: 0;
  color: white;
  padding: 1.2em 1.8em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 250ms ease;
}

.header__lets-play a:hover {
  text-decoration: none;
  transform: scale(1.1);
  background-color: #00a8cc;
}

.full-width {
  width: 100%;
}

section {
  margin: auto;
  max-width: 34em;
  padding: 0 1em;
}

@media screen and (max-width: 25em) {
  body {
    font-size: 90%;
  }
}

.choose-text {
  text-align: center;
  padding: 0;
  margin: 1em 0 0;
}

.tandem-video {
  width: 100%;
}

.note {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #84B1ED;
}

.accordion > dt > a {
  text-decoration: none;
}

.accordion > dt > a:after {
  content: ' »';
}

.accordion > dt > a:hover {
  text-decoration: underline;
}

.accordion dt,
.accordion dd {
  border: 0;
  margin: 0;
  overflow: auto;
}

.accordion dt {
  margin-top: .25em;
}

.navigation {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 1em;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5;
  margin: 0 1em;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  width: 8em;
  padding-bottom: 6px;
}

.navigation a.active {
  color: white;
}

.navigation a.active:after {
  background-color: white;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 200ms ease;
}

.navigation a:hover:after, .navigation a:active:after, .navigation a.active:after, .navigation a:focus:after {
  width: 100%;
}

.navigation__call {
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  color: #d5473a;
  line-height: 2;
}

@media (max-width: 720px) {
  .navigation__call {
    font-size: 5vw;
    font-weight: 400;
  }
}

.title {
  padding: 1em 0;
  text-align: center;
  font-family: sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.title > div {
  -ms-flex: 1;
      flex: 1;
}

.title i {
  font-size: 1.5em;
  padding: 10px 15px;
}

@media (min-width: 721px) {
  .title i {
    display: none;
  }
}

@media (max-width: 720px) {
  .title {
    padding: 1em 10px;
    text-align: left;
  }
}

.title h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  line-height: 1;
  font-size: 3em;
}

@media (max-width: 720px) {
  .title h1 {
    font-size: 6vw;
    font-weight: 400;
  }
}

.title h1 a {
  color: white;
  text-decoration: none;
}

.title aside {
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.image-line {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.image-line img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.image-line > * {
  min-width: 0;
}

.image-line > *:not(:last-child) {
  margin-right: 1em;
}

.people {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  padding: 0;
}

.people__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.people__item img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid;
}

.people__item:nth-child(1) {
  color: #927a02;
}

.people__item:nth-child(1) img {
  box-shadow: 0 0 30px rgba(146, 122, 2, 0.2);
}

.people__item:nth-child(2) {
  color: #2afea9;
}

.people__item:nth-child(2) img {
  box-shadow: 0 0 30px rgba(42, 254, 169, 0.2);
}

.people__item:nth-child(3) {
  color: #04443c;
}

.people__item:nth-child(3) img {
  box-shadow: 0 0 30px rgba(4, 68, 60, 0.2);
}

.people__item:nth-child(4) {
  color: #eb28e8;
}

.people__item:nth-child(4) img {
  box-shadow: 0 0 30px rgba(235, 40, 232, 0.2);
}

.people__item:nth-child(5) {
  color: #8202f2;
}

.people__item:nth-child(5) img {
  box-shadow: 0 0 30px rgba(130, 2, 242, 0.2);
}

.people__item:nth-child(6) {
  color: #770904;
}

.people__item:nth-child(6) img {
  box-shadow: 0 0 30px rgba(119, 9, 4, 0.2);
}

.people__item:nth-child(7) {
  color: #01da63;
}

.people__item:nth-child(7) img {
  box-shadow: 0 0 30px rgba(1, 218, 99, 0.2);
}

.people__item:nth-child(8) {
  color: #0ea2b9;
}

.people__item:nth-child(8) img {
  box-shadow: 0 0 30px rgba(14, 162, 185, 0.2);
}

.people__item:nth-child(9) {
  color: #17e83a;
}

.people__item:nth-child(9) img {
  box-shadow: 0 0 30px rgba(23, 232, 58, 0.2);
}

.people__item:nth-child(10) {
  color: #42025a;
}

.people__item:nth-child(10) img {
  box-shadow: 0 0 30px rgba(66, 2, 90, 0.2);
}

.people__item:nth-child(11) {
  color: #e7188d;
}

.people__item:nth-child(11) img {
  box-shadow: 0 0 30px rgba(231, 24, 141, 0.2);
}

.people__item:nth-child(12) {
  color: #00377a;
}

.people__item:nth-child(12) img {
  box-shadow: 0 0 30px rgba(0, 55, 122, 0.2);
}

.people__item:nth-child(13) {
  color: #725609;
}

.people__item:nth-child(13) img {
  box-shadow: 0 0 30px rgba(114, 86, 9, 0.2);
}

.people__item:nth-child(14) {
  color: #ff1f3d;
}

.people__item:nth-child(14) img {
  box-shadow: 0 0 30px rgba(255, 31, 61, 0.2);
}

.people__item:nth-child(15) {
  color: #058069;
}

.people__item:nth-child(15) img {
  box-shadow: 0 0 30px rgba(5, 128, 105, 0.2);
}

.people__item:nth-child(16) {
  color: #63d902;
}

.people__item:nth-child(16) img {
  box-shadow: 0 0 30px rgba(99, 217, 2, 0.2);
}

.people__item:nth-child(17) {
  color: #8f0f18;
}

.people__item:nth-child(17) img {
  box-shadow: 0 0 30px rgba(143, 15, 24, 0.2);
}

.people__item:nth-child(18) {
  color: #a90459;
}

.people__item:nth-child(18) img {
  box-shadow: 0 0 30px rgba(169, 4, 89, 0.2);
}

.people__item:nth-child(19) {
  color: #a81036;
}

.people__item:nth-child(19) img {
  box-shadow: 0 0 30px rgba(168, 16, 54, 0.2);
}

.people__item:nth-child(20) {
  color: #008bd1;
}

.people__item:nth-child(20) img {
  box-shadow: 0 0 30px rgba(0, 139, 209, 0.2);
}

.people__item:nth-child(21) {
  color: #2ff4c3;
}

.people__item:nth-child(21) img {
  box-shadow: 0 0 30px rgba(47, 244, 195, 0.2);
}

.people__item:nth-child(22) {
  color: #392b05;
}

.people__item:nth-child(22) img {
  box-shadow: 0 0 30px rgba(57, 43, 5, 0.2);
}

.people__item:nth-child(23) {
  color: #27025f;
}

.people__item:nth-child(23) img {
  box-shadow: 0 0 30px rgba(39, 2, 95, 0.2);
}

.people__item:nth-child(24) {
  color: #cd6f04;
}

.people__item:nth-child(24) img {
  box-shadow: 0 0 30px rgba(205, 111, 4, 0.2);
}

.people__item:nth-child(25) {
  color: #080e63;
}

.people__item:nth-child(25) img {
  box-shadow: 0 0 30px rgba(8, 14, 99, 0.2);
}

.people__item:nth-child(26) {
  color: #a10ac7;
}

.people__item:nth-child(26) img {
  box-shadow: 0 0 30px rgba(161, 10, 199, 0.2);
}

.people__item:nth-child(27) {
  color: #8c083b;
}

.people__item:nth-child(27) img {
  box-shadow: 0 0 30px rgba(140, 8, 59, 0.2);
}

.people__item:nth-child(28) {
  color: #db0a0a;
}

.people__item:nth-child(28) img {
  box-shadow: 0 0 30px rgba(219, 10, 10, 0.2);
}

.people__item:nth-child(29) {
  color: #403902;
}

.people__item:nth-child(29) img {
  box-shadow: 0 0 30px rgba(64, 57, 2, 0.2);
}

.people__item:nth-child(30) {
  color: #42aaeb;
}

.people__item:nth-child(30) img {
  box-shadow: 0 0 30px rgba(66, 170, 235, 0.2);
}

.people__item:nth-child(31) {
  color: #3a34ea;
}

.people__item:nth-child(31) img {
  box-shadow: 0 0 30px rgba(58, 52, 234, 0.2);
}

.people__item:nth-child(32) {
  color: #f1c432;
}

.people__item:nth-child(32) img {
  box-shadow: 0 0 30px rgba(241, 196, 50, 0.2);
}

.people__item:nth-child(33) {
  color: #0f8db3;
}

.people__item:nth-child(33) img {
  box-shadow: 0 0 30px rgba(15, 141, 179, 0.2);
}

.people__item:nth-child(34) {
  color: #860338;
}

.people__item:nth-child(34) img {
  box-shadow: 0 0 30px rgba(134, 3, 56, 0.2);
}

.people__item:nth-child(35) {
  color: #76040a;
}

.people__item:nth-child(35) img {
  box-shadow: 0 0 30px rgba(118, 4, 10, 0.2);
}

.people__item:nth-child(36) {
  color: #d50b6d;
}

.people__item:nth-child(36) img {
  box-shadow: 0 0 30px rgba(213, 11, 109, 0.2);
}

.people__item:nth-child(37) {
  color: #a0d813;
}

.people__item:nth-child(37) img {
  box-shadow: 0 0 30px rgba(160, 216, 19, 0.2);
}

.people__item:nth-child(38) {
  color: #4b2806;
}

.people__item:nth-child(38) img {
  box-shadow: 0 0 30px rgba(75, 40, 6, 0.2);
}

.people__item:nth-child(39) {
  color: #68031a;
}

.people__item:nth-child(39) img {
  box-shadow: 0 0 30px rgba(104, 3, 26, 0.2);
}

.people__item:nth-child(40) {
  color: #331e05;
}

.people__item:nth-child(40) img {
  box-shadow: 0 0 30px rgba(51, 30, 5, 0.2);
}

.people-text {
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
}

.people-text__item {
  display: inline-block;
  margin: 0 10px;
}

.people-text__item:nth-child(1) {
  color: #072b4a;
  -webkit-filter: drop-shadow(0 0 20px rgba(7, 43, 74, 0.3));
          filter: drop-shadow(0 0 20px rgba(7, 43, 74, 0.3));
}

.people-text__item:nth-child(2) {
  color: #5f017f;
  -webkit-filter: drop-shadow(0 0 20px rgba(95, 1, 127, 0.3));
          filter: drop-shadow(0 0 20px rgba(95, 1, 127, 0.3));
}

.people-text__item:nth-child(3) {
  color: #38980b;
  -webkit-filter: drop-shadow(0 0 20px rgba(56, 152, 11, 0.3));
          filter: drop-shadow(0 0 20px rgba(56, 152, 11, 0.3));
}

.people-text__item:nth-child(4) {
  color: #067de5;
  -webkit-filter: drop-shadow(0 0 20px rgba(6, 125, 229, 0.3));
          filter: drop-shadow(0 0 20px rgba(6, 125, 229, 0.3));
}

.people-text__item:nth-child(5) {
  color: #b50365;
  -webkit-filter: drop-shadow(0 0 20px rgba(181, 3, 101, 0.3));
          filter: drop-shadow(0 0 20px rgba(181, 3, 101, 0.3));
}

.people-text__item:nth-child(6) {
  color: #16d485;
  -webkit-filter: drop-shadow(0 0 20px rgba(22, 212, 133, 0.3));
          filter: drop-shadow(0 0 20px rgba(22, 212, 133, 0.3));
}

.people-text__item:nth-child(7) {
  color: #f042ca;
  -webkit-filter: drop-shadow(0 0 20px rgba(240, 66, 202, 0.3));
          filter: drop-shadow(0 0 20px rgba(240, 66, 202, 0.3));
}

.people-text__item:nth-child(8) {
  color: #f63b31;
  -webkit-filter: drop-shadow(0 0 20px rgba(246, 59, 49, 0.3));
          filter: drop-shadow(0 0 20px rgba(246, 59, 49, 0.3));
}

.people-text__item:nth-child(9) {
  color: #8a5300;
  -webkit-filter: drop-shadow(0 0 20px rgba(138, 83, 0, 0.3));
          filter: drop-shadow(0 0 20px rgba(138, 83, 0, 0.3));
}

.people-text__item:nth-child(10) {
  color: #e9c616;
  -webkit-filter: drop-shadow(0 0 20px rgba(233, 198, 22, 0.3));
          filter: drop-shadow(0 0 20px rgba(233, 198, 22, 0.3));
}

.people-text__item:nth-child(11) {
  color: #380401;
  -webkit-filter: drop-shadow(0 0 20px rgba(56, 4, 1, 0.3));
          filter: drop-shadow(0 0 20px rgba(56, 4, 1, 0.3));
}

.people-text__item:nth-child(12) {
  color: #3e017e;
  -webkit-filter: drop-shadow(0 0 20px rgba(62, 1, 126, 0.3));
          filter: drop-shadow(0 0 20px rgba(62, 1, 126, 0.3));
}

.people-text__item:nth-child(13) {
  color: #9b0d2e;
  -webkit-filter: drop-shadow(0 0 20px rgba(155, 13, 46, 0.3));
          filter: drop-shadow(0 0 20px rgba(155, 13, 46, 0.3));
}

.people-text__item:nth-child(14) {
  color: #7fd704;
  -webkit-filter: drop-shadow(0 0 20px rgba(127, 215, 4, 0.3));
          filter: drop-shadow(0 0 20px rgba(127, 215, 4, 0.3));
}

.people-text__item:nth-child(15) {
  color: #0dadc9;
  -webkit-filter: drop-shadow(0 0 20px rgba(13, 173, 201, 0.3));
          filter: drop-shadow(0 0 20px rgba(13, 173, 201, 0.3));
}

.people-text__item:nth-child(16) {
  color: #4ff132;
  -webkit-filter: drop-shadow(0 0 20px rgba(79, 241, 50, 0.3));
          filter: drop-shadow(0 0 20px rgba(79, 241, 50, 0.3));
}

.people-text__item:nth-child(17) {
  color: #2f07a6;
  -webkit-filter: drop-shadow(0 0 20px rgba(47, 7, 166, 0.3));
          filter: drop-shadow(0 0 20px rgba(47, 7, 166, 0.3));
}

.people-text__item:nth-child(18) {
  color: #0b4ca8;
  -webkit-filter: drop-shadow(0 0 20px rgba(11, 76, 168, 0.3));
          filter: drop-shadow(0 0 20px rgba(11, 76, 168, 0.3));
}

.people-text__item:nth-child(19) {
  color: #d60032;
  -webkit-filter: drop-shadow(0 0 20px rgba(214, 0, 50, 0.3));
          filter: drop-shadow(0 0 20px rgba(214, 0, 50, 0.3));
}

.people-text__item:nth-child(20) {
  color: #5f0b6f;
  -webkit-filter: drop-shadow(0 0 20px rgba(95, 11, 111, 0.3));
          filter: drop-shadow(0 0 20px rgba(95, 11, 111, 0.3));
}

.people-text__item:nth-child(21) {
  color: #019833;
  -webkit-filter: drop-shadow(0 0 20px rgba(1, 152, 51, 0.3));
          filter: drop-shadow(0 0 20px rgba(1, 152, 51, 0.3));
}

.people-text__item:nth-child(22) {
  color: #36044e;
  -webkit-filter: drop-shadow(0 0 20px rgba(54, 4, 78, 0.3));
          filter: drop-shadow(0 0 20px rgba(54, 4, 78, 0.3));
}

.people-text__item:nth-child(23) {
  color: #9eeb05;
  -webkit-filter: drop-shadow(0 0 20px rgba(158, 235, 5, 0.3));
          filter: drop-shadow(0 0 20px rgba(158, 235, 5, 0.3));
}

.people-text__item:nth-child(24) {
  color: #5b047b;
  -webkit-filter: drop-shadow(0 0 20px rgba(91, 4, 123, 0.3));
          filter: drop-shadow(0 0 20px rgba(91, 4, 123, 0.3));
}

.people-text__item:nth-child(25) {
  color: #042b9f;
  -webkit-filter: drop-shadow(0 0 20px rgba(4, 43, 159, 0.3));
          filter: drop-shadow(0 0 20px rgba(4, 43, 159, 0.3));
}

.people-text__item:nth-child(26) {
  color: #ee9611;
  -webkit-filter: drop-shadow(0 0 20px rgba(238, 150, 17, 0.3));
          filter: drop-shadow(0 0 20px rgba(238, 150, 17, 0.3));
}

.people-text__item:nth-child(27) {
  color: #7b0915;
  -webkit-filter: drop-shadow(0 0 20px rgba(123, 9, 21, 0.3));
          filter: drop-shadow(0 0 20px rgba(123, 9, 21, 0.3));
}

.people-text__item:nth-child(28) {
  color: #5f2202;
  -webkit-filter: drop-shadow(0 0 20px rgba(95, 34, 2, 0.3));
          filter: drop-shadow(0 0 20px rgba(95, 34, 2, 0.3));
}

.people-text__item:nth-child(29) {
  color: #0bf4cd;
  -webkit-filter: drop-shadow(0 0 20px rgba(11, 244, 205, 0.3));
          filter: drop-shadow(0 0 20px rgba(11, 244, 205, 0.3));
}

.people-text__item:nth-child(30) {
  color: #0d188c;
  -webkit-filter: drop-shadow(0 0 20px rgba(13, 24, 140, 0.3));
          filter: drop-shadow(0 0 20px rgba(13, 24, 140, 0.3));
}

.people-text__item:nth-child(31) {
  color: #021c3b;
  -webkit-filter: drop-shadow(0 0 20px rgba(2, 28, 59, 0.3));
          filter: drop-shadow(0 0 20px rgba(2, 28, 59, 0.3));
}

.people-text__item:nth-child(32) {
  color: #e5710b;
  -webkit-filter: drop-shadow(0 0 20px rgba(229, 113, 11, 0.3));
          filter: drop-shadow(0 0 20px rgba(229, 113, 11, 0.3));
}

.people-text__item:nth-child(33) {
  color: #104fa2;
  -webkit-filter: drop-shadow(0 0 20px rgba(16, 79, 162, 0.3));
          filter: drop-shadow(0 0 20px rgba(16, 79, 162, 0.3));
}

.people-text__item:nth-child(34) {
  color: #06ac8e;
  -webkit-filter: drop-shadow(0 0 20px rgba(6, 172, 142, 0.3));
          filter: drop-shadow(0 0 20px rgba(6, 172, 142, 0.3));
}

.people-text__item:nth-child(35) {
  color: #de2e02;
  -webkit-filter: drop-shadow(0 0 20px rgba(222, 46, 2, 0.3));
          filter: drop-shadow(0 0 20px rgba(222, 46, 2, 0.3));
}

.people-text__item:nth-child(36) {
  color: #1fff8b;
  -webkit-filter: drop-shadow(0 0 20px rgba(31, 255, 139, 0.3));
          filter: drop-shadow(0 0 20px rgba(31, 255, 139, 0.3));
}

.people-text__item:nth-child(37) {
  color: #9e4a0a;
  -webkit-filter: drop-shadow(0 0 20px rgba(158, 74, 10, 0.3));
          filter: drop-shadow(0 0 20px rgba(158, 74, 10, 0.3));
}

.people-text__item:nth-child(38) {
  color: #770778;
  -webkit-filter: drop-shadow(0 0 20px rgba(119, 7, 120, 0.3));
          filter: drop-shadow(0 0 20px rgba(119, 7, 120, 0.3));
}

.people-text__item:nth-child(39) {
  color: #033153;
  -webkit-filter: drop-shadow(0 0 20px rgba(3, 49, 83, 0.3));
          filter: drop-shadow(0 0 20px rgba(3, 49, 83, 0.3));
}

.people-text__item:nth-child(40) {
  color: #05e6b1;
  -webkit-filter: drop-shadow(0 0 20px rgba(5, 230, 177, 0.3));
          filter: drop-shadow(0 0 20px rgba(5, 230, 177, 0.3));
}

.people-text__item:nth-child(41) {
  color: #4e043f;
  -webkit-filter: drop-shadow(0 0 20px rgba(78, 4, 63, 0.3));
          filter: drop-shadow(0 0 20px rgba(78, 4, 63, 0.3));
}

.people-text__item:nth-child(42) {
  color: #566d08;
  -webkit-filter: drop-shadow(0 0 20px rgba(86, 109, 8, 0.3));
          filter: drop-shadow(0 0 20px rgba(86, 109, 8, 0.3));
}

.people-text__item:nth-child(43) {
  color: #9aa509;
  -webkit-filter: drop-shadow(0 0 20px rgba(154, 165, 9, 0.3));
          filter: drop-shadow(0 0 20px rgba(154, 165, 9, 0.3));
}

.people-text__item:nth-child(44) {
  color: #070472;
  -webkit-filter: drop-shadow(0 0 20px rgba(7, 4, 114, 0.3));
          filter: drop-shadow(0 0 20px rgba(7, 4, 114, 0.3));
}

.people-text__item:nth-child(45) {
  color: #f82537;
  -webkit-filter: drop-shadow(0 0 20px rgba(248, 37, 55, 0.3));
          filter: drop-shadow(0 0 20px rgba(248, 37, 55, 0.3));
}

.people-text__item:nth-child(46) {
  color: #f91f47;
  -webkit-filter: drop-shadow(0 0 20px rgba(249, 31, 71, 0.3));
          filter: drop-shadow(0 0 20px rgba(249, 31, 71, 0.3));
}

.people-text__item:nth-child(47) {
  color: #05944f;
  -webkit-filter: drop-shadow(0 0 20px rgba(5, 148, 79, 0.3));
          filter: drop-shadow(0 0 20px rgba(5, 148, 79, 0.3));
}

.people-text__item:nth-child(48) {
  color: #a3e302;
  -webkit-filter: drop-shadow(0 0 20px rgba(163, 227, 2, 0.3));
          filter: drop-shadow(0 0 20px rgba(163, 227, 2, 0.3));
}

.people-text__item:nth-child(49) {
  color: #14b10b;
  -webkit-filter: drop-shadow(0 0 20px rgba(20, 177, 11, 0.3));
          filter: drop-shadow(0 0 20px rgba(20, 177, 11, 0.3));
}

.people-text__item:nth-child(50) {
  color: #7cea06;
  -webkit-filter: drop-shadow(0 0 20px rgba(124, 234, 6, 0.3));
          filter: drop-shadow(0 0 20px rgba(124, 234, 6, 0.3));
}

.people-text__item:nth-child(51) {
  color: #9dc403;
  -webkit-filter: drop-shadow(0 0 20px rgba(157, 196, 3, 0.3));
          filter: drop-shadow(0 0 20px rgba(157, 196, 3, 0.3));
}

.people-text__item:nth-child(52) {
  color: #2aea3d;
  -webkit-filter: drop-shadow(0 0 20px rgba(42, 234, 61, 0.3));
          filter: drop-shadow(0 0 20px rgba(42, 234, 61, 0.3));
}

.people-text__item:nth-child(53) {
  color: #6a061a;
  -webkit-filter: drop-shadow(0 0 20px rgba(106, 6, 26, 0.3));
          filter: drop-shadow(0 0 20px rgba(106, 6, 26, 0.3));
}

.people-text__item:nth-child(54) {
  color: #f31e16;
  -webkit-filter: drop-shadow(0 0 20px rgba(243, 30, 22, 0.3));
          filter: drop-shadow(0 0 20px rgba(243, 30, 22, 0.3));
}

.people-text__item:nth-child(55) {
  color: #86c507;
  -webkit-filter: drop-shadow(0 0 20px rgba(134, 197, 7, 0.3));
          filter: drop-shadow(0 0 20px rgba(134, 197, 7, 0.3));
}

.people-text__item:nth-child(56) {
  color: #17eea2;
  -webkit-filter: drop-shadow(0 0 20px rgba(23, 238, 162, 0.3));
          filter: drop-shadow(0 0 20px rgba(23, 238, 162, 0.3));
}

.people-text__item:nth-child(57) {
  color: #062c65;
  -webkit-filter: drop-shadow(0 0 20px rgba(6, 44, 101, 0.3));
          filter: drop-shadow(0 0 20px rgba(6, 44, 101, 0.3));
}

.people-text__item:nth-child(58) {
  color: #eb5905;
  -webkit-filter: drop-shadow(0 0 20px rgba(235, 89, 5, 0.3));
          filter: drop-shadow(0 0 20px rgba(235, 89, 5, 0.3));
}

.people-text__item:nth-child(59) {
  color: #361602;
  -webkit-filter: drop-shadow(0 0 20px rgba(54, 22, 2, 0.3));
          filter: drop-shadow(0 0 20px rgba(54, 22, 2, 0.3));
}

.people-text__item:nth-child(60) {
  color: #d7f81b;
  -webkit-filter: drop-shadow(0 0 20px rgba(215, 248, 27, 0.3));
          filter: drop-shadow(0 0 20px rgba(215, 248, 27, 0.3));
}

.jump-rate-table td:nth-child(1) {
  width: 20%;
}

.jump-rate-table td:nth-child(3) {
  width: 20%;
}

.button {
  font-size: 1.3em;
  padding: 20px 35px;
  border-radius: 15px;
  border: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button--primary {
  background: #00d2ff;
}

.button--primary:hover {
  background: #00c1eb;
}

#bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.bar__on-sale {
  background: red;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 0 5px;
  text-transform: uppercase;
  vertical-align: center;
}

@media (max-width: 720px) {
  #bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 250ms ease;
    -ms-flex-direction: column;
        flex-direction: column;
    overflow-y: auto;
    background: white;
    width: 280px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    z-index: 3;
  }
  #bar.bar-active {
    transform: translateX(0);
    color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
  #bar.bar-active + .bar-backdrop {
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 721px) {
  #bar.bar-active + .bar-backdrop {
    pointer-events: none;
  }
}

.bar-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transition: opacity 250ms ease;
}

#bar > li {
  position: relative;
  display: inline-block;
}

#bar > li:not(:last-child) {
  margin-right: 25px;
}

#bar > li > a {
  display: block;
  margin-right: 0;
  padding: 15px 0;
  text-decoration: none;
  color: #3a7bd5;
}

@media (min-width: 721px) {
  #bar > li > a {
    color: #fff;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
  }
}

@media (max-width: 720px) {
  #bar > li > a {
    padding: 10px 20px;
  }
}

#bar > li > a > .fa {
  margin-left: 4px;
  font-size: 0.9em;
}

/*
  Menu
*/
.menu .submenu {
  visibility: hidden;
}

@media (max-width: 720px) {
  .menu .submenu {
    display: none;
  }
}

@media (min-width: 721px) {
  .menu .submenu {
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    left: -12px;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 12px;
    position: absolute;
    top: 38px;
    transition: all 0.25s;
    width: 230px;
    z-index: 3;
    font-size: 1rem;
  }
  .menu .submenu:before,
  .menu .submenu::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    content: '';
    height: 0;
    left: 24px;
    position: absolute;
    top: -6px;
    width: 0;
  }
}

@media (min-width: 721px) {
  .no-js .menu:hover .submenu,
  .menu-hover:hover .submenu {
    opacity: 1;
    top: 44px;
    visibility: visible;
  }
}

@media (max-width: 720px) {
  .menu-hover.menu-active .submenu {
    display: block;
    opacity: 1;
    top: 44px;
    visibility: visible;
  }
}

.menu .submenu a {
  color: #777;
  display: block;
  line-height: 1.2em;
  padding: 5px 0;
  text-decoration: none;
}

@media (max-width: 720px) {
  .menu .submenu {
    list-style: none;
  }
}

.menu .submenu a:hover {
  color: orangered;
}

.menu-right .submenu {
  left: auto;
  right: -12px;
  text-align: right;
}

.menu-right .submenu:before,
.menu-right .submenu::before {
  left: auto;
  right: 24px;
}

#bar a.active {
  font-weight: 800;
}

#bar .submenu a.active {
  color: black;
}

.footer-wrapper {
  background: linear-gradient(to left, #7BD53A, #62b527);
  background: url("/img/footer-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  color: white;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 0;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 720px) {
  footer {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

footer::after {
  content: '';
  display: table;
  clear: both;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer__details-col {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.footer__cities-col,
.footer__quick-links-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 720px) {
  .footer__cities-col,
  .footer__quick-links-col {
    display: none;
  }
}

.footer__cities-col a,
.footer__quick-links-col a {
  margin: 5px 1em;
}

.footer__business-name {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.footer__address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.footer__social {
  font-size: 1.8em;
}

.footer__social a {
  padding: 0 5px;
}

.footer__back-to-top-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  color: white;
  line-height: 1;
}

@media (min-width: 721px) {
  .footer__back-to-top-col {
    display: none;
  }
}

.footer__back-to-top-col .fa {
  font-size: 2em;
}

.figure {
  font-size: 0.7em;
  text-align: center;
}

.figure--float-left {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.figure--float-right {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

.skydive-selector {
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
  padding: 1em 0;
}

.skydive-selector__option div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
}

@media (max-width: 720px) {
  .skydive-selector__option div {
    font-weight: 400;
  }
}

.skydive-selector__option a {
  text-decoration: none;
}

.skydive-selector__option aside {
  text-align: center;
  font-size: 1.3em;
}

@media (max-width: 720px) {
  .skydive-selector__option aside {
    font-size: 0.9em;
  }
}

.skydive-selector__option span {
  z-index: 2;
}

.skydive-selector__option div:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}

.skydive-selector__option {
  -ms-flex: 1;
      flex: 1;
  margin: 1em;
}

.skydive-selector__option--tandem div,
.skydive-selector__option--solo div {
  height: 250px;
}

@media (max-width: 720px) {
  .skydive-selector__option--tandem div,
  .skydive-selector__option--solo div {
    height: calc(40vw - 2em);
    font-size: 2em;
  }
}

.skydive-selector__option--tandem div {
  background: url(../img/tandem.jpg);
  background-size: cover;
  background-position: center;
}

.skydive-selector__option--solo div {
  background: url(../img/iad.jpg);
  background-size: cover;
  background-position: center;
}

.spring-special-banner {
  padding: 2em;
  background: linear-gradient(to left, #57a022, #69c229);
  color: white;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  margin-top: 1em;
}

.spring-special-banner h2 {
  margin-top: 0;
  padding-top: 0;
}

.spring-special-banner strong,
.spring-special-banner a,
.spring-special-banner h2 {
  color: white;
}
