.navigation {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 1em;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5;
  margin: 0 1em;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  width: 8em;
  padding-bottom: 6px;
}

.navigation a.active {
  color: white;
}

.navigation a.active:after {
  background-color: white;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 200ms ease;
}

.navigation a:hover:after, .navigation a:active:after, .navigation a.active:after, .navigation a:focus:after {
  width: 100%;
}

.navigation__call {
  font-size: 3em;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  color: #d5473a;
  line-height: 2;
}
