.people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.people__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.people__item img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  border: 5px solid;
}

.people__item:nth-child(1) {
  color: #053a85;
}

.people__item:nth-child(1) img {
  box-shadow: 0 0 30px rgba(5, 58, 133, 0.2);
}

.people__item:nth-child(2) {
  color: #69b913;
}

.people__item:nth-child(2) img {
  box-shadow: 0 0 30px rgba(105, 185, 19, 0.2);
}

.people__item:nth-child(3) {
  color: #566f0c;
}

.people__item:nth-child(3) img {
  box-shadow: 0 0 30px rgba(86, 111, 12, 0.2);
}

.people__item:nth-child(4) {
  color: #063c1d;
}

.people__item:nth-child(4) img {
  box-shadow: 0 0 30px rgba(6, 60, 29, 0.2);
}

.people__item:nth-child(5) {
  color: #9e109b;
}

.people__item:nth-child(5) img {
  box-shadow: 0 0 30px rgba(158, 16, 155, 0.2);
}

.people__item:nth-child(6) {
  color: #29b710;
}

.people__item:nth-child(6) img {
  box-shadow: 0 0 30px rgba(41, 183, 16, 0.2);
}

.people__item:nth-child(7) {
  color: #51011b;
}

.people__item:nth-child(7) img {
  box-shadow: 0 0 30px rgba(81, 1, 27, 0.2);
}

.people__item:nth-child(8) {
  color: #f19422;
}

.people__item:nth-child(8) img {
  box-shadow: 0 0 30px rgba(241, 148, 34, 0.2);
}

.people__item:nth-child(9) {
  color: #140958;
}

.people__item:nth-child(9) img {
  box-shadow: 0 0 30px rgba(20, 9, 88, 0.2);
}

.people__item:nth-child(10) {
  color: #10043f;
}

.people__item:nth-child(10) img {
  box-shadow: 0 0 30px rgba(16, 4, 63, 0.2);
}

.people__item:nth-child(11) {
  color: #193d01;
}

.people__item:nth-child(11) img {
  box-shadow: 0 0 30px rgba(25, 61, 1, 0.2);
}

.people__item:nth-child(12) {
  color: #047c30;
}

.people__item:nth-child(12) img {
  box-shadow: 0 0 30px rgba(4, 124, 48, 0.2);
}

.people__item:nth-child(13) {
  color: #8f3a0f;
}

.people__item:nth-child(13) img {
  box-shadow: 0 0 30px rgba(143, 58, 15, 0.2);
}

.people__item:nth-child(14) {
  color: #0feefa;
}

.people__item:nth-child(14) img {
  box-shadow: 0 0 30px rgba(15, 238, 250, 0.2);
}

.people__item:nth-child(15) {
  color: #9df038;
}

.people__item:nth-child(15) img {
  box-shadow: 0 0 30px rgba(157, 240, 56, 0.2);
}

.people__item:nth-child(16) {
  color: #060841;
}

.people__item:nth-child(16) img {
  box-shadow: 0 0 30px rgba(6, 8, 65, 0.2);
}

.people__item:nth-child(17) {
  color: #d86513;
}

.people__item:nth-child(17) img {
  box-shadow: 0 0 30px rgba(216, 101, 19, 0.2);
}

.people__item:nth-child(18) {
  color: #022079;
}

.people__item:nth-child(18) img {
  box-shadow: 0 0 30px rgba(2, 32, 121, 0.2);
}

.people__item:nth-child(19) {
  color: #294b06;
}

.people__item:nth-child(19) img {
  box-shadow: 0 0 30px rgba(41, 75, 6, 0.2);
}

.people__item:nth-child(20) {
  color: #0bf4c1;
}

.people__item:nth-child(20) img {
  box-shadow: 0 0 30px rgba(11, 244, 193, 0.2);
}

.people__item:nth-child(21) {
  color: #db0a18;
}

.people__item:nth-child(21) img {
  box-shadow: 0 0 30px rgba(219, 10, 24, 0.2);
}

.people__item:nth-child(22) {
  color: #3bf7b8;
}

.people__item:nth-child(22) img {
  box-shadow: 0 0 30px rgba(59, 247, 184, 0.2);
}

.people__item:nth-child(23) {
  color: #02bbb5;
}

.people__item:nth-child(23) img {
  box-shadow: 0 0 30px rgba(2, 187, 181, 0.2);
}

.people__item:nth-child(24) {
  color: #9902a1;
}

.people__item:nth-child(24) img {
  box-shadow: 0 0 30px rgba(153, 2, 161, 0.2);
}

.people__item:nth-child(25) {
  color: #12e254;
}

.people__item:nth-child(25) img {
  box-shadow: 0 0 30px rgba(18, 226, 84, 0.2);
}

.people__item:nth-child(26) {
  color: #04e726;
}

.people__item:nth-child(26) img {
  box-shadow: 0 0 30px rgba(4, 231, 38, 0.2);
}

.people__item:nth-child(27) {
  color: #c5ce12;
}

.people__item:nth-child(27) img {
  box-shadow: 0 0 30px rgba(197, 206, 18, 0.2);
}

.people__item:nth-child(28) {
  color: #03d3a6;
}

.people__item:nth-child(28) img {
  box-shadow: 0 0 30px rgba(3, 211, 166, 0.2);
}

.people__item:nth-child(29) {
  color: #60015b;
}

.people__item:nth-child(29) img {
  box-shadow: 0 0 30px rgba(96, 1, 91, 0.2);
}

.people__item:nth-child(30) {
  color: #c6cc14;
}

.people__item:nth-child(30) img {
  box-shadow: 0 0 30px rgba(198, 204, 20, 0.2);
}

.people__item:nth-child(31) {
  color: #aa0874;
}

.people__item:nth-child(31) img {
  box-shadow: 0 0 30px rgba(170, 8, 116, 0.2);
}

.people__item:nth-child(32) {
  color: #1f4200;
}

.people__item:nth-child(32) img {
  box-shadow: 0 0 30px rgba(31, 66, 0, 0.2);
}

.people__item:nth-child(33) {
  color: #a76d11;
}

.people__item:nth-child(33) img {
  box-shadow: 0 0 30px rgba(167, 109, 17, 0.2);
}

.people__item:nth-child(34) {
  color: #781508;
}

.people__item:nth-child(34) img {
  box-shadow: 0 0 30px rgba(120, 21, 8, 0.2);
}

.people__item:nth-child(35) {
  color: #026478;
}

.people__item:nth-child(35) img {
  box-shadow: 0 0 30px rgba(2, 100, 120, 0.2);
}

.people__item:nth-child(36) {
  color: #7d02c0;
}

.people__item:nth-child(36) img {
  box-shadow: 0 0 30px rgba(125, 2, 192, 0.2);
}

.people__item:nth-child(37) {
  color: #058053;
}

.people__item:nth-child(37) img {
  box-shadow: 0 0 30px rgba(5, 128, 83, 0.2);
}

.people__item:nth-child(38) {
  color: #0abd28;
}

.people__item:nth-child(38) img {
  box-shadow: 0 0 30px rgba(10, 189, 40, 0.2);
}

.people__item:nth-child(39) {
  color: #02a796;
}

.people__item:nth-child(39) img {
  box-shadow: 0 0 30px rgba(2, 167, 150, 0.2);
}

.people__item:nth-child(40) {
  color: #0238f7;
}

.people__item:nth-child(40) img {
  box-shadow: 0 0 30px rgba(2, 56, 247, 0.2);
}
