.people {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 -25px;
  padding: 0;
  line-height: 1;
}

.people__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  width: 150px;
}

@media (max-width: 400px) {
  .people__item {
    width: calc(50vw - 30px - 10px);
  }
}

.people__item img {
  height: 150px;
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid;
  margin-bottom: 5px;
}

@media (max-width: 400px) {
  .people__item img {
    height: calc(50vw - 30px - 10px);
  }
}

.people__item:nth-child(1) {
  color: #075510;
}

.people__item:nth-child(1) img {
  box-shadow: 0 0 30px rgba(7, 85, 16, 0.2);
}

.people__item:nth-child(2) {
  color: #ec4127;
}

.people__item:nth-child(2) img {
  box-shadow: 0 0 30px rgba(236, 65, 39, 0.2);
}

.people__item:nth-child(3) {
  color: #300561;
}

.people__item:nth-child(3) img {
  box-shadow: 0 0 30px rgba(48, 5, 97, 0.2);
}

.people__item:nth-child(4) {
  color: #9b0896;
}

.people__item:nth-child(4) img {
  box-shadow: 0 0 30px rgba(155, 8, 150, 0.2);
}

.people__item:nth-child(5) {
  color: #830b49;
}

.people__item:nth-child(5) img {
  box-shadow: 0 0 30px rgba(131, 11, 73, 0.2);
}

.people__item:nth-child(6) {
  color: #0b5403;
}

.people__item:nth-child(6) img {
  box-shadow: 0 0 30px rgba(11, 84, 3, 0.2);
}

.people__item:nth-child(7) {
  color: #f17c0e;
}

.people__item:nth-child(7) img {
  box-shadow: 0 0 30px rgba(241, 124, 14, 0.2);
}

.people__item:nth-child(8) {
  color: #0a748f;
}

.people__item:nth-child(8) img {
  box-shadow: 0 0 30px rgba(10, 116, 143, 0.2);
}

.people__item:nth-child(9) {
  color: #f5f10f;
}

.people__item:nth-child(9) img {
  box-shadow: 0 0 30px rgba(245, 241, 15, 0.2);
}

.people__item:nth-child(10) {
  color: #109426;
}

.people__item:nth-child(10) img {
  box-shadow: 0 0 30px rgba(16, 148, 38, 0.2);
}

.people__item:nth-child(11) {
  color: #354805;
}

.people__item:nth-child(11) img {
  box-shadow: 0 0 30px rgba(53, 72, 5, 0.2);
}

.people__item:nth-child(12) {
  color: #0413ae;
}

.people__item:nth-child(12) img {
  box-shadow: 0 0 30px rgba(4, 19, 174, 0.2);
}

.people__item:nth-child(13) {
  color: #06564d;
}

.people__item:nth-child(13) img {
  box-shadow: 0 0 30px rgba(6, 86, 77, 0.2);
}

.people__item:nth-child(14) {
  color: #12ab1f;
}

.people__item:nth-child(14) img {
  box-shadow: 0 0 30px rgba(18, 171, 31, 0.2);
}

.people__item:nth-child(15) {
  color: #0f74a3;
}

.people__item:nth-child(15) img {
  box-shadow: 0 0 30px rgba(15, 116, 163, 0.2);
}

.people__item:nth-child(16) {
  color: #03aa72;
}

.people__item:nth-child(16) img {
  box-shadow: 0 0 30px rgba(3, 170, 114, 0.2);
}

.people__item:nth-child(17) {
  color: #16c6da;
}

.people__item:nth-child(17) img {
  box-shadow: 0 0 30px rgba(22, 198, 218, 0.2);
}

.people__item:nth-child(18) {
  color: #f26e2c;
}

.people__item:nth-child(18) img {
  box-shadow: 0 0 30px rgba(242, 110, 44, 0.2);
}

.people__item:nth-child(19) {
  color: #c4870e;
}

.people__item:nth-child(19) img {
  box-shadow: 0 0 30px rgba(196, 135, 14, 0.2);
}

.people__item:nth-child(20) {
  color: #274601;
}

.people__item:nth-child(20) img {
  box-shadow: 0 0 30px rgba(39, 70, 1, 0.2);
}

.people__item:nth-child(21) {
  color: #086d91;
}

.people__item:nth-child(21) img {
  box-shadow: 0 0 30px rgba(8, 109, 145, 0.2);
}

.people__item:nth-child(22) {
  color: #530c83;
}

.people__item:nth-child(22) img {
  box-shadow: 0 0 30px rgba(83, 12, 131, 0.2);
}

.people__item:nth-child(23) {
  color: #90040b;
}

.people__item:nth-child(23) img {
  box-shadow: 0 0 30px rgba(144, 4, 11, 0.2);
}

.people__item:nth-child(24) {
  color: #5d1104;
}

.people__item:nth-child(24) img {
  box-shadow: 0 0 30px rgba(93, 17, 4, 0.2);
}

.people__item:nth-child(25) {
  color: #e4e411;
}

.people__item:nth-child(25) img {
  box-shadow: 0 0 30px rgba(228, 228, 17, 0.2);
}

.people__item:nth-child(26) {
  color: #c10bfe;
}

.people__item:nth-child(26) img {
  box-shadow: 0 0 30px rgba(193, 11, 254, 0.2);
}

.people__item:nth-child(27) {
  color: #0b7411;
}

.people__item:nth-child(27) img {
  box-shadow: 0 0 30px rgba(11, 116, 17, 0.2);
}

.people__item:nth-child(28) {
  color: #419d0b;
}

.people__item:nth-child(28) img {
  box-shadow: 0 0 30px rgba(65, 157, 11, 0.2);
}

.people__item:nth-child(29) {
  color: #d0780b;
}

.people__item:nth-child(29) img {
  box-shadow: 0 0 30px rgba(208, 120, 11, 0.2);
}

.people__item:nth-child(30) {
  color: #52085e;
}

.people__item:nth-child(30) img {
  box-shadow: 0 0 30px rgba(82, 8, 94, 0.2);
}

.people__item:nth-child(31) {
  color: #ee11d8;
}

.people__item:nth-child(31) img {
  box-shadow: 0 0 30px rgba(238, 17, 216, 0.2);
}

.people__item:nth-child(32) {
  color: #177005;
}

.people__item:nth-child(32) img {
  box-shadow: 0 0 30px rgba(23, 112, 5, 0.2);
}

.people__item:nth-child(33) {
  color: #1ab503;
}

.people__item:nth-child(33) img {
  box-shadow: 0 0 30px rgba(26, 181, 3, 0.2);
}

.people__item:nth-child(34) {
  color: #667f06;
}

.people__item:nth-child(34) img {
  box-shadow: 0 0 30px rgba(102, 127, 6, 0.2);
}

.people__item:nth-child(35) {
  color: #0fff7b;
}

.people__item:nth-child(35) img {
  box-shadow: 0 0 30px rgba(15, 255, 123, 0.2);
}

.people__item:nth-child(36) {
  color: #099580;
}

.people__item:nth-child(36) img {
  box-shadow: 0 0 30px rgba(9, 149, 128, 0.2);
}

.people__item:nth-child(37) {
  color: #ef43c7;
}

.people__item:nth-child(37) img {
  box-shadow: 0 0 30px rgba(239, 67, 199, 0.2);
}

.people__item:nth-child(38) {
  color: #380111;
}

.people__item:nth-child(38) img {
  box-shadow: 0 0 30px rgba(56, 1, 17, 0.2);
}

.people__item:nth-child(39) {
  color: #0b36ad;
}

.people__item:nth-child(39) img {
  box-shadow: 0 0 30px rgba(11, 54, 173, 0.2);
}

.people__item:nth-child(40) {
  color: #27e4f1;
}

.people__item:nth-child(40) img {
  box-shadow: 0 0 30px rgba(39, 228, 241, 0.2);
}
