.people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.people__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.people__item img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  border: 5px solid;
}

.people__item:nth-child(1) {
  color: #18f226;
}

.people__item:nth-child(1) img {
  box-shadow: 0 0 30px rgba(24, 242, 38, 0.2);
}

.people__item:nth-child(2) {
  color: #492503;
}

.people__item:nth-child(2) img {
  box-shadow: 0 0 30px rgba(73, 37, 3, 0.2);
}

.people__item:nth-child(3) {
  color: #7109d3;
}

.people__item:nth-child(3) img {
  box-shadow: 0 0 30px rgba(113, 9, 211, 0.2);
}

.people__item:nth-child(4) {
  color: #23f6eb;
}

.people__item:nth-child(4) img {
  box-shadow: 0 0 30px rgba(35, 246, 235, 0.2);
}

.people__item:nth-child(5) {
  color: #4b3101;
}

.people__item:nth-child(5) img {
  box-shadow: 0 0 30px rgba(75, 49, 1, 0.2);
}

.people__item:nth-child(6) {
  color: #025b01;
}

.people__item:nth-child(6) img {
  box-shadow: 0 0 30px rgba(2, 91, 1, 0.2);
}

.people__item:nth-child(7) {
  color: #ad0dde;
}

.people__item:nth-child(7) img {
  box-shadow: 0 0 30px rgba(173, 13, 222, 0.2);
}

.people__item:nth-child(8) {
  color: #3c011a;
}

.people__item:nth-child(8) img {
  box-shadow: 0 0 30px rgba(60, 1, 26, 0.2);
}

.people__item:nth-child(9) {
  color: #08540e;
}

.people__item:nth-child(9) img {
  box-shadow: 0 0 30px rgba(8, 84, 14, 0.2);
}

.people__item:nth-child(10) {
  color: #660529;
}

.people__item:nth-child(10) img {
  box-shadow: 0 0 30px rgba(102, 5, 41, 0.2);
}

.people__item:nth-child(11) {
  color: #3731ed;
}

.people__item:nth-child(11) img {
  box-shadow: 0 0 30px rgba(55, 49, 237, 0.2);
}

.people__item:nth-child(12) {
  color: #3e3af2;
}

.people__item:nth-child(12) img {
  box-shadow: 0 0 30px rgba(62, 58, 242, 0.2);
}

.people__item:nth-child(13) {
  color: #034924;
}

.people__item:nth-child(13) img {
  box-shadow: 0 0 30px rgba(3, 73, 36, 0.2);
}

.people__item:nth-child(14) {
  color: #00423c;
}

.people__item:nth-child(14) img {
  box-shadow: 0 0 30px rgba(0, 66, 60, 0.2);
}

.people__item:nth-child(15) {
  color: #7a013b;
}

.people__item:nth-child(15) img {
  box-shadow: 0 0 30px rgba(122, 1, 59, 0.2);
}

.people__item:nth-child(16) {
  color: #093e9a;
}

.people__item:nth-child(16) img {
  box-shadow: 0 0 30px rgba(9, 62, 154, 0.2);
}

.people__item:nth-child(17) {
  color: #0ccf6e;
}

.people__item:nth-child(17) img {
  box-shadow: 0 0 30px rgba(12, 207, 110, 0.2);
}

.people__item:nth-child(18) {
  color: #040844;
}

.people__item:nth-child(18) img {
  box-shadow: 0 0 30px rgba(4, 8, 68, 0.2);
}

.people__item:nth-child(19) {
  color: #109d3b;
}

.people__item:nth-child(19) img {
  box-shadow: 0 0 30px rgba(16, 157, 59, 0.2);
}

.people__item:nth-child(20) {
  color: #ff6d24;
}

.people__item:nth-child(20) img {
  box-shadow: 0 0 30px rgba(255, 109, 36, 0.2);
}

.people__item:nth-child(21) {
  color: #07ab4e;
}

.people__item:nth-child(21) img {
  box-shadow: 0 0 30px rgba(7, 171, 78, 0.2);
}

.people__item:nth-child(22) {
  color: #4d3605;
}

.people__item:nth-child(22) img {
  box-shadow: 0 0 30px rgba(77, 54, 5, 0.2);
}

.people__item:nth-child(23) {
  color: #5f6204;
}

.people__item:nth-child(23) img {
  box-shadow: 0 0 30px rgba(95, 98, 4, 0.2);
}

.people__item:nth-child(24) {
  color: #245106;
}

.people__item:nth-child(24) img {
  box-shadow: 0 0 30px rgba(36, 81, 6, 0.2);
}

.people__item:nth-child(25) {
  color: #26b309;
}

.people__item:nth-child(25) img {
  box-shadow: 0 0 30px rgba(38, 179, 9, 0.2);
}

.people__item:nth-child(26) {
  color: #3308bf;
}

.people__item:nth-child(26) img {
  box-shadow: 0 0 30px rgba(51, 8, 191, 0.2);
}

.people__item:nth-child(27) {
  color: #0668d0;
}

.people__item:nth-child(27) img {
  box-shadow: 0 0 30px rgba(6, 104, 208, 0.2);
}

.people__item:nth-child(28) {
  color: #5ca701;
}

.people__item:nth-child(28) img {
  box-shadow: 0 0 30px rgba(92, 167, 1, 0.2);
}

.people__item:nth-child(29) {
  color: #d91720;
}

.people__item:nth-child(29) img {
  box-shadow: 0 0 30px rgba(217, 23, 32, 0.2);
}

.people__item:nth-child(30) {
  color: #1ef694;
}

.people__item:nth-child(30) img {
  box-shadow: 0 0 30px rgba(30, 246, 148, 0.2);
}

.people__item:nth-child(31) {
  color: #f1903b;
}

.people__item:nth-child(31) img {
  box-shadow: 0 0 30px rgba(241, 144, 59, 0.2);
}

.people__item:nth-child(32) {
  color: #6b0a22;
}

.people__item:nth-child(32) img {
  box-shadow: 0 0 30px rgba(107, 10, 34, 0.2);
}

.people__item:nth-child(33) {
  color: #0934aa;
}

.people__item:nth-child(33) img {
  box-shadow: 0 0 30px rgba(9, 52, 170, 0.2);
}

.people__item:nth-child(34) {
  color: #0fa966;
}

.people__item:nth-child(34) img {
  box-shadow: 0 0 30px rgba(15, 169, 102, 0.2);
}

.people__item:nth-child(35) {
  color: #ad014e;
}

.people__item:nth-child(35) img {
  box-shadow: 0 0 30px rgba(173, 1, 78, 0.2);
}

.people__item:nth-child(36) {
  color: #93810b;
}

.people__item:nth-child(36) img {
  box-shadow: 0 0 30px rgba(147, 129, 11, 0.2);
}

.people__item:nth-child(37) {
  color: #85001f;
}

.people__item:nth-child(37) img {
  box-shadow: 0 0 30px rgba(133, 0, 31, 0.2);
}

.people__item:nth-child(38) {
  color: #7f0486;
}

.people__item:nth-child(38) img {
  box-shadow: 0 0 30px rgba(127, 4, 134, 0.2);
}

.people__item:nth-child(39) {
  color: #071cbb;
}

.people__item:nth-child(39) img {
  box-shadow: 0 0 30px rgba(7, 28, 187, 0.2);
}

.people__item:nth-child(40) {
  color: #0dd9d2;
}

.people__item:nth-child(40) img {
  box-shadow: 0 0 30px rgba(13, 217, 210, 0.2);
}
