.skydive-selector {
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
  padding: 1em 0;
}

@media (max-width: 720px) {
  .skydive-selector {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.skydive-selector__option div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
}

.skydive-selector__option a {
  text-decoration: none;
}

.skydive-selector__option aside {
  text-align: center;
  font-size: 1.3em;
}

.skydive-selector__option span {
  z-index: 2;
}

.skydive-selector__option div:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}

.skydive-selector__option {
  -ms-flex: 1;
      flex: 1;
  margin: 1em;
}

.skydive-selector__option--tandem div {
  background: url(../img/tandem.jpg);
  background-size: cover;
  height: 250px;
}

.skydive-selector__option--solo div {
  background: url(../img/iad.jpg);
  background-size: cover;
  height: 250px;
}
