.title {
  padding: 1em 0;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.title > div {
  -ms-flex: 1;
      flex: 1;
}

.title > .open-menu {
  fill: white;
  width: 25px;
  height: 25px;
  margin: 0 4px;
}

@media (min-width: 721px) {
  .title .open-menu {
    display: none;
  }
}

@media (max-width: 720px) {
  .title {
    padding: 1em 10px;
    text-align: left;
  }
}

.title h1 {
  font-weight: 300;
  margin: 0;
  line-height: 1;
  font-size: 2.6em;
}

@media (max-width: 720px) {
  .title h1 {
    font-size: 5vw;
    font-weight: 400;
  }
}

.title h1 a {
  color: white;
  text-decoration: none;
}

.title aside {
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
