<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ pageTitle }} | Seven Hills Skydivers</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{canonical}}">

    {{> vendor}}

  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title}}

        {{> nav}}
      </header>
    </div>

    <!-- <h1>{{ pageTitle }}</h1> -->

    <main>
      {{#unless disableCall}}
      {{#unless disableTopCall}}
      <div class="navigation__call">
        Questions? Give us a call <a href="tel:6082445252">(608) 244-5252</a>
      </div>
      {{/unless}}
      {{/unless}}
      <div>{{{ contents }}}</div>
    </main>

    {{#unless disableCall}}
    <div class="navigation__call">
      Questions? Give us a call (608) 244-5252
    </div>
    {{/unless}}

    <div class="footer-wrapper">
      <footer>
        {{> footer rel='../../'}}
      </footer>
    </div>
  </body>
</html>
