<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - Skydiving since 1962</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{canonical}}">

    {{> vendor}}

  </head>

  <body>
    <div class="header-wrapper">
      <header>      
        {{> title}}

        {{> nav}}
      </header>
    </div>

    <!-- <h1>{{ pageTitle }}</h1> -->

    <main>
      <div>{{{ contents }}}</div>
    </main>

    <div class="footer-wrapper">
      <footer>
        {{> footer}}
      </footer>
    </div>
  </body>
</html>
