<!DOCTYPE html>
<html class="no-scroll">
  <head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="Seven Hills,skydiving,skydivers,parachute,sport parachuting,jumping,first jump,plane jumpers,What to do in Madison WI,dropzone,Madison,WI,Skydiving in Wisconsin,skydive madison wi,tandem,student training,static line,IAD,USPA,7 hills,tandum,sky diving,sevenhills,extreme sports,skydive instruction">

    {{> vendor}}
  </head>

  <body>
    <div class="header-wrapper header-wrapper--video">
      <video autoplay="autoplay" loop muted>
        <source src="video/boom.mp4" />
        <source src="video/boom.webm" />
      </video>

      <div class="header__lets-play">
        <div>Let's have some fun</div>

        <a href="welcome">Book your skydive today</a>
      </div>


      <header>
        {{> title}}

        {{> nav }}
      </header>
    </div>


    <main>{{{ contents }}}</main>
  </body>
</html>