.footer-wrapper {
	background: linear-gradient(to left, #7BD53A, darken(#7BD53A, 10%));
  background: url('/img/footer-bg.jpg');
  background-position: center bottom;
  background-size: cover;
	color: white;
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 0;

  display: flex;

  @media (max-width: 720px) {
    flex-direction: column;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  a {
  	color: white;
  	text-decoration: none;

  	&:hover {
  		text-decoration: underline;
  	}
  }
}

.footer__details-col {
	flex: 1;
	align-self: center;
	text-align: center;
}

.footer__cities-col,
.footer__quick-links-col {
	display: flex;
	flex-direction: column;

  @media (max-width: 720px) {
    display: none;
  }

	a {
		margin: 5px 1em;
	}
}

.footer__business-name {
	font-size: 1.2em;
  margin-bottom: 1em;
}

.footer__address {
	font-size: 0.9em;
  margin-bottom: 0.5em;
}

.footer__social {
  font-size: 1.8em;

  a {
    padding: 0 5px;
  }
}

.footer__back-to-top-col {
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  color: white;
  line-height: 1;

  @media (min-width: 721px) {
    display: none;
  }

  .fa {
    font-size: 2em;
  }
}