@import 'variables';

$opaque: rgba(255, 255, 255, 0.75);

.navigation {
  text-align: center;

  font-family: sans-serif;
  padding-bottom: 1em;

  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    margin: 0 1em;
    color: $opaque;
  
    position: relative;
    width: 8em;

    padding-bottom: 6px;

    &.active {
        $c: white;

        color: $c;

        &:after {
            background-color: $c;
        }
    }
    
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 0;
        height: 3px;
        background-color: $opaque;

        transition: all 200ms ease;
    }

    &:hover,
    &:active,
    &.active,
    &:focus {
      &:after {
        width: 100%;
      }
    }
  }
}

.navigation__call {
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: #d5473a;
    line-height: 2;
}