@import 'variables';

.title {
  padding: 1em 0;
  text-align: center;
  font-family: sans-serif;

  display: flex;
  align-items: center;

  > div {
    flex: 1;
  }

  > .open-menu {
    fill: white;
    width: 25px;
    height: 25px;
    margin: 0 4px;
  }

  @media (min-width: 721px) {
    .open-menu {
      display: none;
    }
  }
  @media (max-width: 720px) {
    padding: 1em 10px;
    text-align: left;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
    line-height: 1;
    font-size: 3em;

    @media (max-width: 720px) {
      font-size: 6vw;
      font-weight: 400;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  aside {
    font-style: italic;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }

}
